[2017-12-23 10:11] mithro opened #1 "Create a netlistsvg skin with routing muxes and logic muxes"
Logic and routing muxes should look different in the diagrams generated.

[2017-12-23 10:13] mithro opened #2 "Generate rr_graph.xml from icebox"
The `rr_graph.xml` file specifies the routing graph inside a design.

For a real ice40 this is described by project IceStorm in the icebox database.

[2017-12-23 10:13] mithro commented on #2
I already have a python script which does this. Need to commit it.

[2017-12-23 10:14] mithro opened #3 "Place and route a single flip-flop and generate a bitstream"

[2017-12-23 10:15] mithro opened #4 "Place and route a single lut and generate a bitstream"

[2017-12-23 10:15] mithro opened #5 "Place and route the picorv32 and generate a bitstream"

[2017-12-23 10:17] mithro opened #6 "Create tool to convert vpr output into bitstream"
You will need something which maps the node IDs to names.

Then from names into bits that need to be set.

Needed for #3, #4, #5

[2017-12-23 10:18] mithro opened #7 "Generate module block diagrams with symbolator"
third_party/docgen/symbolator/

[2017-12-23 10:21] mithro opened #8 "Generate pb_type.xml and model.xml from Verilog"
Currently you need to manually create the `pb_type.xml` and `model.xml` files needed for vpr.

These should in theory be able to.be generated from the `sim.v` files using Yosys to generate a .json file and then a Python script to generate the XML from the json output.

Only thing to worry about is how parameters are handled here.

Might need some type of naming convention for the logic verse routi

[2017-12-23 10:22] mithro opened #9 "Write tests for the sim.v in some way."
Any idea how to test the sim.v files?

[2017-12-23 10:23] mithro opened #10 "Add real timing information to the model"
Currently I have just added random values.

[2017-12-26 14:03] mithro opened #11 "Create a dtd for the vpr file formats"
The vpr format doesn't actually have a dtd at the moment. It would be good to create one.

https://en.m.wikipedia.org/wiki/Document_type_definition

[2017-12-26 14:03] mithro opened #12 "Refactor the Makefiles"
They are a pretty huge mess of stuff

[2017-12-26 14:05] mithro opened #13 "Make mux_gen.py satisfy pep8"
https://github.com/mithro/vpr-for-ice40/blob/master/utils/mux_gen.py

[2017-12-26 14:06] mithro opened #14 "Make xml_deps.py satsify pep8"
https://github.com/mithro/vpr-for-ice40/blob/master/utils/xml_deps.py

[2017-12-26 14:10] mithro opened #15 "Create a lot more tests"
Currently the tests are;
 * Single FF
 * Single LUT
 * PicoRV32

That is a pretty big jump from the simple cases to the full CPU.

Would be good to add some simple tests like;
 * Large multiplexer
 * Shift register
 * Simple echo UART type device

Then after the picorv32, we should go onto a full SoC with DDR controller and internal peripherals on a wishbone bus.

[2017-12-26 14:11] mithro commented on #15
Would also be a good idea to test different flip flop types.

Some type of clock-domain-crossing would be good.

[2017-12-26 14:13] mithro opened #16 "Create a "clock generator" tool"
https://github.com/cliffordwolf/icestorm/tree/master/icepll

[2017-12-28 20:02] mithro commented on #2
Start of a script here -> https://github.com/mithro/vpr-for-ice40/blob/master/utils/icebox-rr_graph-import.py

[2017-12-29 14:47] mithro opened #21 "Set up readthedocs"
We want to have readthedocs and stuff generating documentation automatically.

[2018-02-18 17:53] mithro commented on #8
@daveshah1 is currently working on this.

[2018-02-18 17:56] mithro commented on #2
@daveshah1

[2018-02-18 18:00] mithro opened #38 "Create library for generating rr_graph files"
["Routing Resource Graph File Format (.xml)" (`rr_graph.xml`)](https://docs.verilogtorouting.org/en/latest/vpr/file_formats/#routing-resource-graph-file-format-xml) describe to [Verilog to Routing](https://docs.verilogtorouting.org/en/latest/vpr/) the routing architecture inside the FPGA.

Currently Verilog to Routing is mainly set up to create "simulated" routing graphs. For actual devices we nee

[2018-02-18 18:01] mithro commented on #38
This is in progress here -> https://github.com/mithro/symbiflow-arch-defs/tree/working-on-fasm/utils/lib/rr_graph

[2018-02-18 18:02] mithro commented on #12
Did some refactoring of the `Makefile.mux` files here -> https://github.com/mithro/symbiflow-arch-defs/blob/working-on-fasm/common/make/mux.mk

[2018-02-18 18:02] mithro commented on #8
https://github.com/SymbiFlow/symbiflow-arch-defs/pull/37

[2018-02-19 16:50] todo[bot] opened #39 "use proper Verilog timing):"
https://github.com/SymbiFlow/symbiflow-arch-defs/blob/db9bea3ec0de68cb1051415347b45c9b1334ced0/utils/vlog/.gitignore#L396-L401

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in db9bea3ec0de68cb1051415347b45c9b1334ced0 when #37 was merged. cc @daveshah1.

[2018-02-19 16:50] todo[bot] opened #40 "the below code is kind of ugly, but because module and cell IO"
https://github.com/SymbiFlow/symbiflow-arch-defs/blob/db9bea3ec0de68cb1051415347b45c9b1334ced0/utils/vlog/yosys/__init__.py#L100-L105

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in db9bea3ec0de68cb1051415347b45c9b1334ced0 when #37 was merged. cc @daveshah1.

[2018-02-19 16:50] todo[bot] opened #41 "All of these functions involve a fairly large number of calls to Yosys"
https://github.com/SymbiFlow/symbiflow-arch-defs/blob/db9bea3ec0de68cb1051415347b45c9b1334ced0/utils/vlog/yosys/run.py#L58-L63

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in db9bea3ec0de68cb1051415347b45c9b1334ced0 when #37 was merged. cc @daveshah1.

[2018-02-21 18:14] mithro opened #48 "When generation fails, make still touches `.gen.stamp` rather then failing"
See below;

[code]

[2018-02-25 20:50] mithro opened #55 "Change to using `specify` blocks for providing timing information."
Currently we are using Verilog attributes for timing information because Yosys doesn't support `specify` blocks. `specify` blocks are actually the proper way to provide timing information in Verilog, see below;

From http://verilog.renerta.com/source/vrg00044.htm;

[2018-02-25 20:56] daveshah1 commented on #55
This ultimately depends on support for these in a parser/elaborator that gives us useful output. At the moment Yosys isn't even able to ignore them, let alone handle them (see [https://github.com/YosysHQ/yosys/issues/506](Yosys #506)).

I think Icarus Verilog is the only open source tool at the moment that supports them, but I don't know if we can get any output from that in a useful form. Maybe i

[2018-02-25 20:58] daveshah1 commented on #8
In the Artix-7 example, all parts of `CARRY4` except the mux (which still uses the `mux_gen.py` tool) and `W5FF` are now using this tool to generate their XML from their `sim.v` files.

[2018-02-26 16:28] mithro commented on #48
This is obsolete with #56

[2018-02-26 16:28] #48 closed

[2018-02-26 16:29] mithro commented on #12
This is in progress here -> #56

[2018-03-02 00:06] mithro opened #59 "Figure out how to write unit tests for the sim.v files."
We want a structured way to write unit tests for the sim.v files (and a way to run them).

We want the unit tests to be compatible with at a minimum;
 * Yosys
 * Verilator
 * Icarus Verilog

But making it compatible with commercial simulators would be good too.

I *think* we want to use [Cocotb](http://cocotb.readthedocs.io/en/latest/introduction.html) but I have never used it myself.

[2018-03-02 00:07] mithro opened #60 "Create a style guide for the sim.v files."
We want a consistent restricted style of Verilog used in these files which is compatible with lots of things.

[2018-03-02 00:09] mithro commented on #9
#59 probably needs to be solved first.

[2018-03-02 00:17] mcmasterg commented on #59
I don't have a whole lot to say on this / no strong opinion.

But I can add:
-UVM is way overkill for this type of application. Don't even consider it
-For Skybox I rolled my own framework that loosely resembled JUnit
-I've never used Cocotb. I'd need to try it out before having an opinion on it. I'm up to exploring it / seeing a demo

[2018-03-02 08:05] mithro opened #61 "Make all the Python files importable"
For Sphinx documentation we need the Python files to be importable. The way to do this is to;

 * Put all the current stuff under a `def main(args)` function.
 * Put the following at the end;
[code]

The argument set up should remain at the top level so it can be automatically converted to help documentation.

[2018-03-02 08:06] #39 closed

[2018-03-02 08:07] #40 closed

[2018-03-02 18:25] mithro commented on #59
@cliffordwolf - Do you have an opinion on how we should be writing unit tests for these models? I'm guessing you are going to say we should be using formal verification? :-P

[2018-03-02 18:25] mithro commented on #59
@awygle - FYI.

[2018-03-04 21:44] udif commented on #55
Please take a look at https://github.com/YosysHQ/yosys/pull/510 as a starting point.
(Parsing done, but no AST created).

[2018-03-06 22:00] mithro opened #62 "Python scripts should only create output on success"
Currently the Python scripts will create malformed files if they die half way through. They should instead use StringIO to create the file in memory and then output the file all together at once so this never happens.

[2018-03-06 23:47] mithro opened #63 "Make sure that the yosys generated output is deterministic"
It seems like the output from [`utils/vlog/`](utils/vlog) is not deterministic?

I think the order of the ports and delay_constant values seems to change? Are you sorting them? Any python dictionary needs to be sorted.

@daveshah1

[2018-03-07 01:36] mithro opened #64 "Run the tests for the utils as part of the Travis-CI environment"
We have [doctests](https://docs.python.org/3/library/doctest.html) and [normal unit tests](https://docs.python.org/3/library/unittest.html) for many of the things in [utils](https://github.com/SymbiFlow/symbiflow-arch-defs/tree/master/utils), especially the stuff in [utils/libs](https://github.com/SymbiFlow/symbiflow-arch-defs/tree/master/utils/libs). These should be run as part of the CI environm

[2018-03-07 01:40] mithro commented on #10
@mcmasterg Is looking at this for the Artix 7 architecture.

[2018-03-07 01:43] mithro opened #65 "Run the place-and-route tests as part of the CI"
We have tests which check if Verilog To Routing can do place and route with our architecture definitions in the [tests directory](https://github.com/SymbiFlow/symbiflow-arch-defs/tree/master/tests).

These should be run as part of the CI environment.

[2018-03-07 18:38] mithro opened #66 "Figure out why echo doesn't support '-e' on travis"
On Travis we are getting `-e <string>` when we use `echo -e <string>`. On my local computer we just get `<string>` but echo is correctly interpreting the escape characters.

From the man page;

I'm guessing it has something to do with shell builtins verse real commands or something?

[2018-03-07 18:41] mithro commented on #66
Example;
https://travis-ci.org/mithro/symbiflow-arch-defs/builds/350461107

![image](https://user-images.githubusercontent.com/21212/37111250-111fa6a6-21f4-11e8-8723-5b56b5841da8.png)

[2018-03-07 18:43] mithro opened #67 "Make the "Generated dependency info XXXX.dmk" not have absolute paths"
Currently when a dependency file is created it outputs the following message;
 `Generated dependency info /home/travis/build/mithro/symbiflow-arch-defs/.deps//vpr/ff/vpr_ff.model.xml.dmk`.

It would be good if these messages didn't have the absolute path in them.

[2018-03-07 18:43] mithro commented on #67
Example image;
![image](https://user-images.githubusercontent.com/21212/37111381-5ecd63b6-21f4-11e8-828b-864813846ed5.png)

[2018-03-07 18:46] mithro opened #68 "Make the dependency generated messages colorful"
Currently when a dependency file is created it outputs the following message with no colors;
 `Generated dependency info /home/travis/build/mithro/symbiflow-arch-defs/.deps//vpr/ff/vpr_ff.model.xml.dmk`.

It would be good if these messages were colorful like the other build messages. See image below;
![image](https://user-images.githubusercontent.com/21212/37111467-9970eb3c-21f4-11e8-8a82-5ef59358

[2018-03-07 18:49] mithro commented on #1
Vivado draws routing muxes like this;
![image](https://user-images.githubusercontent.com/21212/37111583-eebf2f04-21f4-11e8-8cd7-bae1f5d6fa7d.png)

And user controlled muxes like this;
![image](https://user-images.githubusercontent.com/21212/37111644-0babe21a-21f5-11e8-9bab-e67895e99e3d.png)

Obviously the user controlled mux is a standard symbol, but the routing mux is not and a bit stupid. Lets *

[2018-03-07 18:50] mithro commented on #1
The difference between a **routing** and **logic** mux is if the **select signal** is controllable via logic or are place and route time. I think doing something which shows that is probably a good idea.

[2018-03-07 21:08] mithro opened #69 "Make sure all dependencies are documented and available in the conda environment"

[2018-03-08 17:38] mithro opened #70 "Refactor mux_gen util to be less one large file"
Currently [mux_gen.py](https://github.com/SymbiFlow/symbiflow-arch-defs/blob/master/utils/mux_gen.py) is mostly one giant file.

It would be good if instead if was split out into libraries and the actual top level file was small.

[2018-03-08 17:42] mithro opened #71 "Figure out why make takes ~2 seconds to start"
Currently when you type `make` it takes about 2 seconds to start running.

I believe this is because of the include system that is now used for getting proper dependency info. I believe this because when running targets which don't use the include system (such as `make clean`) the make command is almost instant.

Make is most certainly slow because I'm doing something silly when doing the includes

[2018-03-08 17:53] mithro opened #72 "Make it so you don't need to create the redirection makefiles to generate .git/info/exclude file"
Currently to work out if we want to ignore a Makefile we do the following;
[code]

This means that the redirection Makefiles *have* to exist before we can generate `.git/info/exclude.redir`

This is the only real place we need to *actually* create something for the make system. In all other cases things work with just the **potential** that a file **could** exist.

[2018-03-08 19:07] mithro opened #73 "Add something to the empty.svg"
[common/empty.svg](https://github.com/SymbiFlow/symbiflow-arch-defs/blob/master/common/empty.svg) is used when yosys generates an no output. Currently it's a blank image. It would be good if the svg had some type of indicator that it was empty. "This page intentionally left blank" style.

[2018-03-09 05:04] elmsfu commented on #66
I think this is because make uses `sh` and the builtin `echo` doesn't support that option. https://stackoverflow.com/questions/589276/how-can-i-use-bash-syntax-in-makefile-targets

A few solutions:
1. You can just not use `-e` as by default sh respects the escape characters
1. set `SHELL = bash` to force using bash
1. define ECHO based on `SHELL` value and replace `echo -e` with `$(ECHO)`

Definin

[2018-03-09 06:39] mithro commented on #66
https://travis-ci.org/SymbiFlow/symbiflow-arch-defs/builds/351175350

[2018-03-09 07:06] #66 closed

[2018-03-09 12:42] wifasoi commented on #1
What about an hatched pattern as a fill?
<a href="https://imgur.com/BiwMNP4"><img src="https://i.imgur.com/BiwMNP4.png" title="source: imgur.com" /></a>
The only think need is create a pattern
[code]
and apply to the polygon with:
[code]
but i did not tested it yet

[2018-03-09 18:23] #65 closed

[2018-03-09 18:48] mithro opened #78 "Run all devices through the place and route tests"
Currently we just run one `device` through the place and route tests.

See https://github.com/SymbiFlow/symbiflow-arch-defs/blob/master/tests/Makefile.artix7#L4-L5 and https://github.com/SymbiFlow/symbiflow-arch-defs/blob/master/tests/Makefile.testarch#L3-L5

The problem we have is that some of the testarch parts don't have flip flops or look up tables which means those tests will *always* fail, s

[2018-03-09 22:47] mithro opened #81 "Describe the DSP primitives in the Artix 7"
It would be good to have good descriptions of the DSPs in the Series 7 architecture.

[2018-03-09 22:48] mithro commented on #81
@elmsfu Has started working on this in #58

[2018-03-09 22:49] #64 closed

[2018-03-10 16:14] daveshah1 commented on #63
I think all these issues should now be fixed in 8df2a2e5f

[2018-03-12 13:10] wifasoi commented on #1
@mithro if the symbol is ok, I'll precede to create a skin for netlistsvg; but I need more information, like a yosys netlist example with some routing muxes in it (or the name of the block, inputs, and output) and where put all my work.

[2018-03-12 17:53] mithro commented on #68
@bushig has a pull request for working on this here -> https://github.com/SymbiFlow/symbiflow-arch-defs/pull/83

[2018-03-12 18:04] mithro commented on #1
@daveshah1 Could you help @wifasoi with getting the needed information?

[2018-03-14 22:12] elmsfu commented on #59
I've started to look at demonstrating a simple test using [cocotb](http://cocotb.readthedocs.io/en/latest/introduction.html) and [VUnit](http://http://vunit.github.io/).

I have a [branch](https://github.com/elmsfu/symbiflow-arch-defs/tree/cocotb_tests) with a simple test using cocotb (think I found an bug in mux2.sim.v).

VUnit doesn't currently support Icarus Verilog, but people are working on i

[2018-03-16 05:01] mithro commented on #55
Verilog To Routing supports [Post Implementation Timing Simulation](http://docs.verilogtorouting.org/en/latest/tutorials/timing_simulation/?highlight=timing) by generating a "Standard Delay Fromat (SDF)" file. Maybe we should use that file format instead?

[2018-03-17 18:40] daveshah1 commented on #1
From Yosys's POV both a routing mux and a logic mux are the same cell type (but a routing mux will be fed from a constant - parameters are resolved to a constant before elaboration, and the logic mux from an input). Any mux will be comprised of a cascade of `$mux` cells internally.

However, he `mux_gen.py` script, which can be assumed to be used for all muxes, will always instantiate a MUXn primi

[2018-03-17 19:12] mithro commented on #1
Sounds like a good plan!

[2018-03-22 22:39] elmsfu commented on #59
Yes.

They also use the _scoreboard_, _driver_, and _monitor_ patterns which I believe is terminology shared with/borrowed from UVM. These are available but not required.

[2018-03-30 05:49] elmsfu commented on #67
@mithro I'm not seeing this. Did you already fix it with #56 ?

[2018-03-30 05:51] elmsfu commented on #12
Do you have more in find to refactor the makefiles?

[2018-03-30 05:56] elmsfu commented on #71
I noticed that [this line](https://github.com/SymbiFlow/symbiflow-arch-defs/blob/master/make/deps.mk#L46) is a tautology because $(FROM) is by default empty. But I don't understand the intention of this section. Calling find_files for every dependency seems expensive for a conditional.

[2018-03-30 06:01] elmsfu commented on #72
If I understand the current [master](https://github.com/SymbiFlow/symbiflow-arch-defs/blob/854feee1fe1d9bdaca916427b18a746ab4886aa4/make/gen.mk#L18) it looks like a work around is in place. Is it still generating them before generating the exclude.redir?

[2018-03-31 01:25] mithro commented on #72
I think so? I'll check tomorrow...

[2018-03-31 01:32] mithro commented on #71
That does look like a bug. I think it should probably be `ifneq (,$$(call find_files,$$(ADD_DEP_FROM)))`?The question is why are we not getting the warning message then?

[2018-03-31 01:33] mithro commented on #12
I guess this is done!

[2018-03-31 01:33] #12 closed

[2018-04-05 00:33] JohnDMcMaster opened #86 "template being synthesized instead of ignored"
How to reproduce:
`symbiflow-arch-defs/artix7$ make`

Example output: `symbiflow-arch-
defs/artix7/primitives/slicel/carry4/carry4_split/carry4_Nmux/ntemplate.carry4_Nmux.sim.v:8: syntax error, unexpected '{', expecting ';' or '#' or '('`
Noting file has: `module CARRY4_{N}MUX(CI, DI, S, O);`

[2018-04-07 22:47] elmsfu commented on #86
I couldn't reproduce with master. Also it looks like you are on an older revision as [carry4](https://github.com/SymbiFlow/symbiflow-arch-defs/tree/master/artix7/primitives/slicel/carry4_modes) was renamed.

[2018-04-08 00:02] mithro commented on #86
I believe that @JohnDMcMaster just had left over files in this repo.

[2018-04-08 00:02] #86 closed

[2018-04-16 22:28] mcmasterg opened #88 "Investigate high channel width on test"
Re: "make ARCH=testarch DEVICE=2x4 mlut.echo"
I ran some rr_graph tests and noticed the test is choosing a channel width of 28. This seems a bit high, but I'm not that familiar with this configuration to know if its actually unreasonably or not given this is a relatively small device. Investigate the test and understand why such a high channel width was used

arch-defs: 8929d23
vpr: 8.0.0-dev+vpr-

[2018-04-17 20:35] JohnDMcMaster commented on #88
We are actively investigating some related arch.xml results we don't understand with the VPR devs. Hopefully this will also resolve this ticket

[2018-04-20 23:39] mithro opened #92 "Port the iCE40 CLB to Verilog and generate the pb_type from it"
@daveshah1 [created a tool for generating Verilog to Routing XML files from verilog](https://github.com/SymbiFlow/symbiflow-arch-defs/tree/master/utils/vlog).

The goal is to eventually have fully simulatable Verilog descriptions of all the *actual* hardware (as opposed to the verilog macros for instantiating hardware). We have been working on this for the Artix 7 and we should do the same for the

[2018-04-20 23:41] mithro commented on #92
@jhol this isn't a high priority at the moment but something we should look at eventually.

[2018-04-20 23:47] mithro opened #93 "Refactor the tests in tests directory"
We are quickly starting to get a lot of different tests in the test directory, but they are currently all in the same directory. This makes it a bit frustrating when we have both Verilog and eBLIF versions of the same test (IE `wire.eblif` and `vwire.v`).

It also makes it harder to see how big the test suite is.

It is likely we will want multi-file tests in the near future too.

We should refact

[2018-04-21 06:32] daveshah1 commented on #92
I think a few more features, in particular support for generating `num_pb` from Verilog may be needed for this to work, but it should be doable.

[2018-04-23 08:13] jhol commented on #92
This is an interesting concept - the idea of being able to throw arbitrary FPGA Verilog into VPR sounds quite appealing. But also I get a strong sense of YAGNI/KISS about it.

It would be cool if you could make it work, but I'm not convinced that it's really going to work as seamlessly as we need, because there seems to be a bit of an impedance mismatch between the information present in Verilog,

[2018-04-26 20:47] mithro opened #99 "Create a Python library for generating VtR arch.xml file"
Currently we generate all the arch.xml files by either;
 * Hand using XML includes
 * @davesha's Verilog to arch.xml generator.

As @jhol points out, it would be much easier to generate a lot of the definitions in Python and then dump the XML from that.

This would also make it easier to do the many variations of the testing architectures.

[2018-04-26 20:50] mithro commented on #99
We could also look at [migen](https://github.com/m-labs/migen) to generate Verilog from the  same structures.

[2018-04-26 20:51] mithro commented on #99
The Verilog to arch generator could use this API too...

[2018-04-27 03:44] elmsfu opened #101 "Refactor build system"
Main goals would be to speed up and simplify.

Python is already used to detect dependencies, instead of generating a lot of files in .deps it could just write out the dependencies and build rules from python. I think this would remove a lot of redirection and speed up build time.

Another idea would be to put all generated files in a separate results directory to remove the need of exclude genera

[2018-04-27 03:46] elmsfu opened #102 "Pylint (or similar) on all python code as part of CI"
* Agree on pylint configuration
* Bring python into compliance
* Then run pylint on all file as part of travis.

[2018-04-30 18:54] elmsfu commented on #102
Hadn't heard of yapf. Looks good for formatting. Do you like the idea of adding pylintrc like I started in #97. I also started a [branch](https://github.com/elmsfu/symbiflow-arch-defs/tree/pylint_cleanup) to start making python code comply.

[2018-04-30 19:30] mithro commented on #99
@jhol has some examples of how this might work here -> https://github.com/jhol/icestorm/blob/vtr-py/icebox/vtr.py

[2018-04-30 23:07] mcmasterg opened #104 "rr_graph import: clean up pin import"
Original idea was to clear the rr_graph nodes entirely and just re-add the pin nodes since its relatively straightforward to add them given the blocks. However, these nodes have placement on them (ie pin goes on left or right of block), which must match the arch.xml expectation after re-creating. I added some hacks on to export and then re-import these (see pin_sides() + add_nodes_for_pin_class())

[2018-05-01 00:35] mcmasterg opened #105 "ice40: review grid layouts"
The LP384/HX384 has some debug stuff in there and (as a result?) seems to have incorrect dimensions. Similarly I just reviewed 1k which says:

[code]

I believe these ranges are inclusive, which means this is (13 - 2 + 1) x (17 - 2 + 1) = 12 x 16 when comment says it should be 11 x 15. Looking at http://hedmen.org/icestorm-doc/icestorm.html the correct size is 12 x 16. So would be a good idea to r

[2018-05-07 22:55] mithro opened #111 "Investigate cocotb import"
From https://github.com/SymbiFlow/symbiflow-arch-defs/pull/97#issuecomment-386188877 @elmsfu said;

We should investigate if we want to use a submodule, or if we want to pip install using `-e git+https://github.com/xxxx` form.

[2018-05-07 23:00] mithro opened #112 "Make cocotb Makefile use the make/types system"
Most things in the symbiflow-arch-defs use the [make/types system](https://github.com/SymbiFlow/symbiflow-arch-defs/tree/master/make/types). However, currently the cocotb   tests [use a Makefile](https://github.com/SymbiFlow/symbiflow-arch-defs/blob/master/artix7/primitives/slicel/Nlut/simtest/Makefile).

See @elmsfu [comment here](https://github.com/SymbiFlow/symbiflow-arch-defs/pull/97#issuecomm

[2018-05-12 20:25] todo[bot] opened #116 "check this"
https://github.com/SymbiFlow/symbiflow-arch-defs/blob/dee71450e2fb2036a8735d8bec6059a9c60e5253/ice40/utils/icebox_rr_graph_import.py#L103-L108

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in dee71450e2fb2036a8735d8bec6059a9c60e5253 when #94 was merged. cc @mcmasterg.

[2018-05-12 20:25] todo[bot] opened #117 "BI should maybe sort"
https://github.com/SymbiFlow/symbiflow-arch-defs/blob/dee71450e2fb2036a8735d8bec6059a9c60e5253/utils/lib/rr_graph/channel.py#L625-L630

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in dee71450e2fb2036a8735d8bec6059a9c60e5253 when #94 was merged. cc @mcmasterg.

[2018-05-12 20:25] todo[bot] opened #118 "mithro suggests using node names instead of this. Look into making this happen"
https://github.com/SymbiFlow/symbiflow-arch-defs/blob/dee71450e2fb2036a8735d8bec6059a9c60e5253/utils/lib/rr_graph/graph.py#L1239-L1244

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in dee71450e2fb2036a8735d8bec6059a9c60e5253 when #94 was merged. cc @mcmasterg.

[2018-05-12 20:25] todo[bot] opened #119 "clean this section up to be more generic"
https://github.com/SymbiFlow/symbiflow-arch-defs/blob/dee71450e2fb2036a8735d8bec6059a9c60e5253/utils/testarch_graph.py#L89-L94

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in dee71450e2fb2036a8735d8bec6059a9c60e5253 when #94 was merged. cc @mcmasterg.

[2018-05-13 16:35] Cabalist commented on #14
This file no longer exists.  :)  Also `deps_xml.py` looks pretty good PEP8-wise.

[2018-05-13 18:31] mithro commented on #14
It has changed to [deps_xml as you mentioned](https://github.com/SymbiFlow/symbiflow-arch-defs/blob/master/utils/deps_xml.py).

If you think the file is all good, I guess we can close this issue?

[2018-05-13 21:08] Cabalist commented on #14
The only issue my linter throws is the "continuation indent" as referenced in #13.

[2018-05-13 21:12] Cabalist commented on #61
I'd be happy to take this on.  Would it be a good time to do this?  (i.e. any big changes about to come down?)

[2018-05-13 21:27] mithro commented on #61
Let me merge #115 and then you can go right ahead!

[2018-05-14 00:11] mithro commented on #118
This was fixed.

[2018-05-14 00:11] #118 closed

[2018-05-14 00:11] #116 closed

[2018-05-14 00:11] mithro commented on #117
This was fixed.

[2018-05-14 00:11] #117 closed

[2018-05-14 00:27] mithro opened #121 "Figure out why vpr can't route between PLB.lutff_0_out[0] and BLK_TL-PIO_T.io_0_D_OUT[0]"
Figure out why vpr can't route between `PLB.lutff_0_out[0]` and `BLK_TL-PIO_T.io_0_D_OUT[0]`

[code]

[2018-05-14 00:30] mithro opened #122 "Figure out why PLB.lutff_7_cout[0] has no out-going edges"
[code]

[2018-05-14 00:32] mithro opened #123 "Figure out why the cen and s_r pins are unconnected"
Figure out why the `cen` and `s_r` pins are unconnected - see below;

[code]

[2018-05-23 00:54] mcmasterg opened #130 "Revisit icebox patch routing: index_pin_node_ids()"
In ice40_patch_routing_from_icebox.py I added a map named name_rr2local in index_pin_node_ids() that converts between icebox and symbiflow naming. Recently someone (@jhol IIRC) did some cleanup to make symbiflow names match icebox a lot closer. This mapping should be revised to see if it can be simplified or completely removed.

@mithro notes there may be some issues representing / in VPR names. S

[2018-05-26 16:07] mithro opened #131 "Investigate weird routing in ice40 arch"
Taking a look at this picture there are two weird things;
![image](https://user-images.githubusercontent.com/21212/40578133-9e27250c-60c3-11e8-9f63-29a50fc42ffa.png)

The output pin of this BLK_TL-PLB seems to be connected to a span12 in an adjacent column. Highlighted below;
![image](https://user-images.githubusercontent.com/21212/40578140-c64e8386-60c3-11e8-8906-201b6479974f.png)

The local trac

[2018-06-06 01:52] mithro opened #134 "Write a tool to convert an iCE40 .pcf file into a VPR io.place file."
Examples of io.place files;
 * https://github.com/mithro/symbiflow-arch-defs/blob/4mcmaster/tests/ice40/checker/io.place
 * https://github.com/mithro/symbiflow-arch-defs/blob/4mcmaster/tests/ice40/iceff/io.place

The process is pretty simple.

 1. Look up the device type.
 2. Convert pin number into `X`, `Y` and `subblk` values.
 3. Convert `X` / `Y` coordinates into VPR coordinates (currently jus

[2018-06-06 04:34] mithro opened #136 "Import the neighbourhood tracks via the ice40_import_routing_from_icebox.py script"
Currently the neighbourhood tracks are ignored when importing things from icebox.

They should be imported.

[2018-06-06 04:39] mithro opened #137 "Finish the Artix 7 rr_graph generation"
We have a script at https://github.com/SymbiFlow/symbiflow-arch-defs/blob/master/artix7/utils/prjxray-routing-import.py which walks the routing node.

It should be changed to use the [rr_graph library](https://github.com/SymbiFlow/symbiflow-arch-defs/tree/master/utils/lib/rr_graph) to generate a real rr_graph to be fed into VPR.

[2018-06-06 05:07] mithro opened #138 "Get the Block RAM working on the iCE40"

[2018-06-06 05:08] mithro opened #139 "Get the LUT cascade on ice40 working"
LUTs in a tile can be cascaded together into a chain, useful for making a shift register style thing.

Make sure this is working.

[2018-06-06 05:11] mithro opened #140 "Get the carry chain on ice40 working"
Probably dependent on https://github.com/verilog-to-routing/vtr-verilog-to-routing/issues/325

[2018-06-06 21:06] mithro opened #142 "Describe the DSP primitives in the iCE40 UP5K"
The iCE40 UP5K has DSP blocks.

We should describe them.

[2018-06-06 21:06] mithro commented on #142
Should follow approach in #81

[2018-06-06 21:07] mithro opened #143 "Create a LUT init permutation test"
It would be good to test a bunch of the init of LUTs is working correctly.

[2018-06-06 21:14] mithro opened #144 "Create an ice40 test for the packing of different types of flip flops together"
From http://www.clifford.at/icestorm/logic_tile.html

There also seem to be the following SB_FF models;
[code]

This means you can only pack certain types of flip flops together into a tile. Need a test which explicitly looks for this.

[2018-06-06 21:23] mithro opened #146 "Write a test for the ice40 sb_carry block"
The file at https://github.com/SymbiFlow/symbiflow-arch-defs/blob/master/ice40/primitives/sb_carry/sb_carry.sim.v should have a test.

See an example of the tests for the mux2 here -> https://github.com/SymbiFlow/symbiflow-arch-defs/tree/master/vpr/muxes/logic/mux2/simtest

[2018-06-06 22:03] mithro commented on #101
Options to consider;
 * Custom Python scripts which just generate Makefiles
 * Custom Python scripts which [generate Ninja](https://ninja-build.org/)
 * [meson](https://mesonbuild.com/)
 * [waf](https://github.com/waf-project/waf)

[2018-06-06 22:05] mithro commented on #101
I attempted to create a meson build script here -> https://github.com/mithro/symbiflow-arch-defs/blob/meson/meson.build

[2018-06-06 22:07] mithro commented on #101
I /really/ want to use waf -- but my spider sense is saying that we will regret that choice 6 months from now.

[2018-06-06 22:10] mithro commented on #101
I think we should also consider `cmake` as it is used by Verilog-To-Routing and the prjxray -- but I really dislike it...

[2018-06-06 22:12] mithro commented on #101
We should also consider using [`conda environments`](https://conda.io/docs/user-guide/tasks/manage-environments.html#building-identical-conda-environments) for doing the env / conda stuff too...

[2018-06-06 22:13] mithro opened #147 "Check that the build system works with `make -jX`"
Probably best to look into after #101

[2018-06-06 22:13] mithro commented on #147
@elmsfu To add more information;

[2018-06-11 19:39] mcmasterg commented on #105
Created PR: https://github.com/mithro/symbiflow-arch-defs/pull/7

[2018-06-11 19:42] mcmasterg commented on #121
What is an easy way to test this?

[2018-06-11 19:47] mcmasterg commented on #131
To be clear, this ticket is about concerns over the routing fabric, not the routing on the fabric?

Your main concerns are that the spans are not located closer to what they are connecting? Do you believe this is wrong based on some documentation? Or just find it suspicious that they aren't adjacent?

[2018-06-11 20:33] mithro commented on #131
Why are these connected to columns adjacent? It seems suspicious.

[2018-06-11 20:34] mithro commented on #121
Run vpr with the rr_graph? `make route` on the 4mcmaster branch for example. Also can be tested with https://github.com/SymbiFlow/symbiflow-arch-defs/pull/133

[2018-06-15 00:10] mithro commented on #144
There is one added here -> https://github.com/mithro/symbiflow-arch-defs/tree/4mcmaster/tests/ice40/ffpack

This needs https://github.com/verilog-to-routing/vtr-verilog-to-routing/pull/365 to be merged into VPR before it works.

[2018-06-15 00:12] mithro opened #148 "Make sure the rr_graph library works with changes to switches format"
Looking at the the [`<switches>` section](https://docs.verilogtorouting.org/en/latest/vpr/file_formats/#tag-switches-switch) of the [`rr_graph.xml` documentation](https://docs.verilogtorouting.org/en/latest/vpr/file_formats/#detailed-tag-information) says;

It was previously like this;
[code]

Make sure the rr_graph library is updated.

See https://github.com/verilog-to-routing/vtr-verilog-to-rout

[2018-06-19 15:40] mithro commented on #134
This is now done!

[2018-06-19 15:40] #134 closed

[2018-06-21 17:32] mithro opened #149 "Create a tool to extract the library definitions from Xilinx PDF documents"
To be compatible with code written specifically for Xilinx Artix-7 parts we need a file which describes the Verilog and VHDL interfaces uses on those parts. These definitions can be found in the [UG953 Vivado 7 Series libraries - Xilinx PDF Document](https://www.xilinx.com/support/documentation/sw_manuals/xilinx2014_2/ug953-vivado-7series-libraries.pdf).

We need to extract **only** the minimum am

[2018-06-22 09:10] mithro opened #151 "Make the tile `.csv` and `.xml` layout files get generated."
So I don't need to commit this patch -> https://github.com/mithro/symbiflow-arch-defs/commit/a609b296ebe063c2119c55117fd4defc591ccd42

[2018-06-22 09:12] mithro opened #152 "Make HLC work with padin_X -> glb_network_X names"
Rather than the `GLOBAL_OUTPUT_BUFFER` name.

This matches the name in the bit docs;
 * http://www.clifford.at/icestorm/bitdocs-1k/tile_0_9.html
 * http://www.clifford.at/icestorm/bitdocs-1k/tile_0_8.html

Check the fabric routing too.

[2018-06-22 16:47] mithro opened #153 "Create a "huge counter" stress test"
It would be good to have a **huge** counter test which spans roughly 8 tiles on the iCE40.

Being so large this will stress test the carry logic quite a lot.

[2018-06-22 16:48] mithro opened #154 "Import the arachne-pnr ice40 test suite"
arachne-pnr has a [pretty decent little test suite](https://github.com/cseed/arachne-pnr/tree/master/tests). It would be good to import these into the repo and run them on the ice40 architecture.

[2018-06-22 16:49] mithro opened #155 "Create a "global reset" stress test for ice40"
We need a test which uses a *lot* of reset lines to test that it gets promoted to a global network.

Probably something which has a lot of flip flops which need to be reset together.

[2018-06-22 18:32] mridubhatnagar commented on #99
Have worked on create an XML, parsing an XML, with Python.

Is this what the issue needs?

[2018-06-22 21:02] mithro commented on #99
Hi @mridubhatnagar,

We want to be able to programmatically generate Verilog to Routing [FPGA architecture files](http://docs.verilogtorouting.org/en/latest/arch/reference/). These XML files describe the internals of an FPGA.

We could just use the DOM to do this, but the DOM is not a great Python API. It also sucks if we change from using XML format to some other type of format.

So what we are a

[2018-06-22 21:03] mithro commented on #99
Also see the related issue here -> https://github.com/SymbiFlow/ideas/issues/4

[2018-06-22 22:28] mithro opened #156 "Fix the hard coded switch indexes in vpr"
Fix this ->
https://github.com/mithro/vtr-verilog-to-routing/blob/4mcmaster/vpr/src/util/ice40_hlc.cpp#L161-L174

[2018-06-22 22:51] mithro commented on #156
Should be fixed by https://github.com/mithro/vtr-verilog-to-routing/commit/6ca4f6ea65953d606299ef7338a300cc59dc09f1

[2018-06-22 22:51] #156 closed

[2018-06-24 01:47] mithro opened #157 "Get $undef and Verilog To Routing to play nice"
I'm guessing Yosys is actually using the misterious `$undef` net for "unconnected primitive pins. VtR needs them in the following format -> https://docs.verilogtorouting.org/en/latest/vpr/file_formats/#unconnected-primitive-pins

[2018-06-25 22:51] mithro commented on #151
This should be fixed in https://github.com/SymbiFlow/symbiflow-arch-defs/pull/150/commits/73ea9950d1c079531eee32c1e5e278edc7c668ea

[2018-06-25 22:51] #151 closed

[2018-06-26 04:56] mithro commented on #152
This is fixed by https://github.com/cliffordwolf/icestorm/pull/164 and https://github.com/SymbiFlow/symbiflow-arch-defs/pull/150/commits/80d8bfaa85277782fff8ae27574fb2f1bd9c6ea0

[2018-06-26 04:56] #152 closed

[2018-06-26 18:43] mithro commented on #148
Should be fixed in https://github.com/SymbiFlow/symbiflow-arch-defs/pull/150/commits/6de7e10ffb8a5d24026a66afdf1af2a86de3e7bb

[2018-06-26 18:43] #148 closed

[2018-07-03 21:20] mithro commented on #136
This has been done in https://github.com/SymbiFlow/symbiflow-arch-defs/pull/150

[2018-07-03 21:20] mithro commented on #131
This seems to be fixed by https://github.com/SymbiFlow/symbiflow-arch-defs/pull/150

[2018-07-03 21:20] #131 closed

[2018-07-03 21:20] mithro commented on #130
This is fixed by https://github.com/SymbiFlow/symbiflow-arch-defs/pull/150.

[2018-07-03 21:20] #130 closed

[2018-07-03 21:21] mithro commented on #119
This is fixed by https://github.com/SymbiFlow/symbiflow-arch-defs/pull/150.

[2018-07-03 21:21] #119 closed

[2018-07-03 21:22] mithro commented on #139
This should be fixed by https://github.com/SymbiFlow/symbiflow-arch-defs/pull/150 -- however it really needs some better testing.

[2018-07-03 21:22] mithro commented on #88
I believe this has been fixed.

[2018-07-03 21:22] #88 closed

[2018-07-03 21:23] mithro commented on #38
This is fixed by https://github.com/SymbiFlow/symbiflow-arch-defs/pull/150.

[2018-07-03 21:23] mithro commented on #3
This is fixed by https://github.com/SymbiFlow/symbiflow-arch-defs/pull/150.

[2018-07-03 21:23] #3 closed

[2018-07-03 21:23] mithro commented on #4
This is fixed by https://github.com/SymbiFlow/symbiflow-arch-defs/pull/150.

[2018-07-03 21:23] #4 closed

[2018-07-03 21:24] mithro commented on #6
This is fixed by https://github.com/SymbiFlow/symbiflow-arch-defs/pull/150.

[2018-07-03 21:24] #6 closed

[2018-07-03 21:31] mithro opened #158 "Get a proper model of the iCE40 IO tile into VPR"

[2018-07-03 21:34] mithro opened #159 "Generate the iCE40 routing graph rather than importing from icebox"
Currently the way to get a real rr_graph is to use the [ice40/utils/ice40_import_routing_from_icebox.py](https://github.com/mithro/symbiflow-arch-defs/blob/4mcmaster/ice40/utils/ice40_import_routing_from_icebox.py) script.

However, it would be much nicer if we could generate the routing without needing icebox. The script at [ice40/utils/ice40_generate_routing.py](https://github.com/mithro/symbifl

[2018-07-03 21:35] mithro commented on #159
This is related to https://github.com/verilog-to-routing/vtr-verilog-to-routing/issues/286

[2018-07-03 21:36] mithro commented on #159
I'm working on this here -> https://github.com/mithro/symbiflow-arch-defs/tree/ice40-generate

[2018-07-03 21:38] mithro opened #160 "Import iCE40 timing information from icestorm"
VPR is does timing driven packing and routing. Hence it needs to know the timing information.

The iCE40 timing information is already known thanks to project icestorm. We just need to import it into the XML definitions.

[2018-07-03 21:38] mithro commented on #160
I'm working on this here -> https://github.com/mithro/symbiflow-arch-defs/tree/ice40-timing

[2018-07-03 21:39] mithro commented on #158
I'm working on this here -> https://github.com/mithro/symbiflow-arch-defs/tree/ice40-io

[2018-07-03 21:43] mithro opened #161 "Clean up the iCE40 global network when importing from icebox"
Current the ice40/utils/ice40_import_routing_from_icebox.py script imports the global nets in two different ways.

There is the `def add_global_tracks(g, ic):` function see https://github.com/mithro/symbiflow-arch-defs/blob/4mcmaster/ice40/utils/ice40_import_routing_from_icebox.py#L487-L660

They also come in through the normal `def add_tracks()` function now it can import a random grab bag of poi

[2018-07-03 21:45] #123 closed

[2018-07-03 21:45] #122 closed

[2018-07-03 21:49] mithro commented on #138
@elmsfu is currently working on this.

[2018-07-04 01:16] mithro opened #166 "Figure out why npm install is run so frequently"
`npm install` seems to be run to frequently. It should be run once to install `netlistsvg` and then only when the netlistsvg submodule changes.

[2018-07-04 02:18] mithro opened #167 "Generate netlistsvg images for each a sim model's modes"
Many sim models have multiple modes of operation. These modes are normally control by the `MODE` parameter.

We currently render the image for only whatever is configured as the default mode (For this reason, I generally configure things to be in their "mode complicated" mode).

The list of mode can be found via the `MODES` property, see below;
[code]

[2018-07-04 03:55] mithro opened #168 "Figure out how to deal with "negative clock edges" in interconnect"
In the iCE40 PIO tiles, there are a pair of flip flops, one works on the positive clock edge, one works on the negative clock edge.

How should this be modeled?

[2018-07-04 03:58] mithro opened #169 "vlog_to_pbtype.xml tool using object *type* rather than name in output."
This makes it impossible to have two of the same model in a design, for example the following does not work;
[code]

Really the vlog_to_pbtype.xml tool should be using the `reg_d0` and `reg_d1` names for the output stuff in the `pb_type.xml` files.

[2018-07-04 04:03] mithro commented on #169
I'm guessing this is because the tool currently just directly includes a sub-module like follows;
[code]

[2018-07-04 04:06] mithro opened #170 "vlog_to_pbtype.xml tool outputting delay information for unconnected nets."
The `vlog_tp_pbtype.xml` tool is currently generating `<delay_constant` values for all paths, even when they are not connected / being used.

See the following example;
[code]

[2018-07-05 05:30] dependabot[bot] opened #171 "Dependabot needs permission to see prjxray-db"
Dependabot couldn't resolve your project's dependencies as it couldn't access [prjxray-db](https://github.com/SymbiFlow/prjxray-db).

You can grant Dependabot access to prjxray-db by adding the repository [here](https://github.com/organizations/SymbiFlow/settings/installations/76885). We'll automatically close this issue and kick off another update run once permission is granted.

You can mention

[2018-07-05 05:30] dependabot[bot] opened #172 "Dependabot needs permission to see netlistsvg"
Dependabot couldn't resolve your project's dependencies as it couldn't access [netlistsvg](https://github.com/nturley/netlistsvg).

You can grant Dependabot access to netlistsvg by adding the repository [here](https://github.com/organizations/SymbiFlow/settings/installations/76885). We'll automatically close this issue and kick off another update run once permission is granted.

You can mention @d

[2018-07-05 05:30] dependabot[bot] opened #173 "Dependabot needs permission to see icestorm"
Dependabot couldn't resolve your project's dependencies as it couldn't access [icestorm](https://github.com/cliffordwolf/icestorm).

You can grant Dependabot access to icestorm by adding the repository [here](https://github.com/organizations/SymbiFlow/settings/installations/76885). We'll automatically close this issue and kick off another update run once permission is granted.

You can mention @de

[2018-07-05 05:30] #171 closed

[2018-07-05 05:30] #172 closed

[2018-07-06 05:17] #173 closed

[2018-07-10 01:56] mcmasterg opened #175 "up5k device layout named hx5k"
There seems to be some sort of mixup causing up5k devices to get named hx5k. Demonstrated by the following sequence:

$ cd ~/symbiflow-arch-defs/tests/ice40/tiny-b2_blink
$ touch ~/symbiflow-arch-defs/tests/ice40/blink/test-upk5-uwg30.pcf
$ make BOARD=test-upk5-uwg30 DEVICE=up5k PACKAGE=uwg30 PROG_TOOL=/dev/null bit
...
Message: Failed to find grid layout named 'up5k-uwg30' (valid grid layouts: 'h

[2018-07-10 22:00] #175 closed

[2018-07-10 22:03] mithro opened #177 "Remove the 'virt' from the ice40 device name"
The ice40 is now using a real routing graph rather than a "virtual" routing graph.

Probably a good idea to no longer have `virt` in the name.

@JohnDMcMaster requested this.

[2018-07-10 23:56] elms opened #179 "ice40_import_routing_from_icebox: Remove duplicate info of ram pin offsets"
symbiflow-arch-defs/ice40/utils/ice40_import_routing_from_icebox.py has info pin to offset mapping in multiple locations:
 * ram_pin_offset()
 * add_pin_aliases()

[2018-07-11 17:53] mithro opened #181 "Write a Python library for decoding Artix-7 wire names"
The names of wires in the series-7 FPGA have meaning, for example `SW4BEG0` might mean 'the beginning of a wire which runs south west 4 tiles'.

There is the start of some code here -> https://github.com/SymbiFlow/symbiflow-arch-defs/blob/474d3ed44647c1dc53eafddb16ba9eb0e025506a/artix7/utils/prjxray-routing-import.py#L308-L343

The [Project X-Ray `tileconn.json`](https://github.com/SymbiFlow/prjxr

[2018-07-11 21:42] mithro opened #182 "Split rr_graph generation and patching from the test running"
Currently the rr_graph generation and patching steps are down as part of running a test.

It would be nicer if this was a totally separate process.

[2018-07-14 01:55] mcmasterg opened #188 "tinyfpga b2 wrong fpga"
in ice40k.mk

[code]

which is clearly wrong (LP and HX are mixed up). Tim says that there might be an outstanding PR to fix this. Placeholder ticket to make sure this gets taken care of

[2018-07-14 01:59] mcmasterg commented on #188
also note

[code]

Maybe this will get fixed if the makefile is mixed?

[2018-07-14 02:42] mithro commented on #188
Hrm...
[code]

[2018-07-14 02:47] mithro commented on #188
From icetime;
[code]

[2018-07-14 03:00] mithro commented on #188
[code]

IceBox doesn't seem to have a way to tell the `hx8k.cm81` doesn't exist.

[2018-07-14 06:30] #188 closed

[2018-07-14 16:23] todo opened #191 "confirm RAD and INITVAL ordering"
https://github.com/SymbiFlow/symbiflow-arch-defs/blob/999492eaac301c097113c8bb0ea07a9c3f49b12e/ecp5/cells/slice/TRELLIS_SLICE.sim.v#L108-L113

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 999492eaac301c097113c8bb0ea07a9c3f49b12e when #186 was merged. cc @daveshah1.

[2018-07-14 16:27] #191 closed, assigned to daveshah1

[2018-07-14 16:52] mithro opened #192 "Profile the ice40_import_routing_from_icebox script and make it fast"
The current [`ice40_import_routing_from_icebox.py`](ice40/utils/ice40_import_routing_from_icebox.py) takes a long time to run. Currently the script is written to make it easy to understand and debug the rr_graph. There is plenty of room for optimization and making it fast!

Someone should profile it and make it fast!

[2018-07-14 16:58] mithro opened #193 "Generate rr_graph file from routing data in Project Trellis"
Like the [`ice40_import_routing_from_icebox.py`](ice40/utils/ice40_import_routing_from_icebox.py)  and the [`prjxray-top-routing-import.py`](artix7/utils/prjxray-top-routing-import.py) we need a script to import the ECP5 routing data into Verilog to Routing from [Project Trellis](https://github.com/SymbiFlow/prjtrellis).

The library at [`utils/lib/rr_graph`](utils/lib/rr_graph) is design to make

[2018-07-14 17:05] mithro commented on #193
@daveshah1 FYI

[2018-07-15 16:48] mithro commented on #11
This is being worked on in https://github.com/SymbiFlow/symbiflow-arch-defs/pull/195 - Yay!

[2018-07-15 17:10] mithro opened #196 "Improve the performance of the `ice40_import_routing_from_icebox.py` tool"
Currently the [`ice40_import_routing_from_icebox.py` tool](ice40/utils/ice40_import_routing_from_icebox.py) was written to make debugging easy but not to be fast.

It would be nice if the script was much faster! Get the Python profiler out and see what is taking most of the time. Then fix that issue!

[2018-07-15 17:12] mithro commented on #169
This is being worked on in https://github.com/SymbiFlow/symbiflow-arch-defs/pull/185

[2018-07-15 17:13] mithro commented on #159
This is being worked on in https://github.com/SymbiFlow/symbiflow-arch-defs/pull/164

[2018-07-16 06:15] galv opened #197 "Makefile fails in confusing way if Make version 3.82 is used."
I noticed this while trying to run this on an RHEL7 machine. Workaround is to install Make 4.1, which is available in devtoolset-6. I can probably document this myself and add an error message if the Make version is too old. Making this issue as a reminder to myself.

[code]

[2018-07-16 16:42] mithro commented on #197
@galv Thanks for reporting this! I think this would be a great temporary fix.

Our current make system is a bit of a monstrosity and we are hoping to replace it with something simpler (probably lead by @elmsfu) -- see #101. If you have experience in this area, I'm sure he would love some help. The tricky part is the chaining of generation and dealing with dependencies.

[2018-07-18 04:43] elmsfu opened #202 "PCF flags: review behavior by parser"
[PCF utility](https://github.com/SymbiFlow/symbiflow-arch-defs/blob/master/ice40/utils/pcf.py) should use flags such as `--warn-no-port`, `--nowarn`, etc..

PCF is not a standard, but for this purpose the ice40 version should be considered.

See cseed/arachne-pnr#14 for arachne behavior

[2018-07-18 04:45] elmsfu opened #203 "Add timing constraints for all tests"
We should add timing constraint for all tests/boards via SDC as described [here](http://vtr-verilog-to-routing.readthedocs.io/en/latest/vpr/sdc_commands.html#create-clock)

[2018-07-23 22:08] mithro commented on #5
@elmsfu Has gotten us to a stage that we generate a bitstream. It doesn't work however :-/

[2018-07-25 21:30] elmsfu commented on #144
After some discussion, it seems like a good approach is to generate (with python) many possible strings of differing FF types and then use formal verification to compare the original to generated verilog from the asc file.

We think there are 20 types of FF

negclk | SR | async | set_norest | cen | type name
----------|------|---------|----------------|------|---------------
0|0|X|X|0| DFF
0|0|X|X

[2018-07-26 01:00] mithro opened #209 "Create a "pretty printer" for the VTR .net file format"
The VTR [packed XML `.net` is hard to read](https://vtr-verilog-to-routing.readthedocs.io/en/latest/vpr/file_formats.html#packed-netlist-format-net).

It would be good if we had a Python based tool that printed more human readable output. You can take inspiration from how [utils/print_graph.py](utils/print_graph.py) tries to make the `rr_graph.xml` format easier to read.

[2018-07-26 19:01] mithro opened #211 "Get VPR to recognize the LUT+FF pack pattern for iCE40"
On the iCE40 architecture VPR should be combining LUT+FF atom pairs into a molecule.

It is currently not doing so. This means that frequently LUT and FF are packed into different clusters.

Figure out what is wrong with the [`<pack_pattern>`](https://vtr-verilog-to-routing.readthedocs.io/en/latest/arch/reference.html#tag-interconnect-pack_pattern).

[2018-07-27 16:22] #211 closed

[2018-07-27 20:56] mithro opened #214 "Fix the make file so that --pack and --place stages are seperate"
Currently due to needing the `--fix_pins` argument pack also runs place.

Rework the makefile so that pack and place are totally separate stages.

[2018-07-31 02:15] mcmasterg opened #216 "running all PnR steps at once `vpr --pack --place --route` resulted in erroneous output"
While most SymbiFlow testing is done with three separate VPR runs for pack, place, and route, fpga-tool-perf is using these separately. At some point these stopped working, instead requiring "vpr --pack --place" followed by "vpr --route".

Symptom:
[code]

Looking at top.hlc it seems that routing is missing. See for example this comment:
[code]

Which should have route names there. Here's the issu

[2018-08-01 21:02] jeffherman commented on #209
This seems pretty straight forward. Do you have a collection of `.net` files aside from the one in the snippet in the doc?

[2018-08-02 00:39] mithro commented on #209
We don't really have a huge set of samples - the repo can generate them. There is also an XML schema file here -> https://github.com/SymbiFlow/symbiflow-arch-defs/blob/master/common/xml/packed_netlist.xsd

[code]

[2018-08-08 17:32] litghost commented on #214
This is fixed in #215

[2018-08-08 17:34] litghost opened #218 "Remove .d output from utils/deps_xml.py once Makefile system is deprecated completely"
#215 begins to convert the Makefile system to a CMake approach.  Once the Makefile system is deprecated (e.g. trusted and all features ported), consider removing the logic from utils/deps_xml.py that outputs .d output.  This is only used by the pure Makefile approach.

[2018-08-08 20:40] litghost opened #219 "Convert all instances of comma seperate lists in CMake to semi-colon separated lists"
See https://github.com/SymbiFlow/symbiflow-arch-defs/pull/215#discussion_r207383021

[2018-08-08 20:50] litghost opened #220 "Find a CMake formatter that works"
cmake-format is broken (https://github.com/cheshirekow/cmake_format/issues/66).  Consider fixing it, or finding a formatter that isn't broken.

[2018-08-08 23:59] litghost commented on #182
The CMake system separates the rr_graph generation and patching (see add_device target https://github.com/SymbiFlow/symbiflow-arch-defs/blob/master/make/devices.cmake#L307) from the particular FPGA target.  All FPGA targets that use the same device will leverage the same rr_graph output.

[2018-08-09 00:01] mithro commented on #102
FYI - the prjxray repo uses this -> https://github.com/SymbiFlow/prjxray/blob/master/.style.yapf

[2018-08-09 00:06] mithro commented on #2
This is now been regularly done!

[2018-08-09 00:06] #2 closed

[2018-08-09 00:09] mithro commented on #11
This is done!

[2018-08-09 00:09] #11 closed

[2018-08-09 18:10] #182 closed

[2018-08-09 18:29] litghost opened #224 "Consider adding column to pinmap CSV's documenting type of pin"
Currently pinmap CSV's generated for ice40 packages only provide x/y and name.  Might be useful to add whether the pin is a special pin (e.g. global buffer) or just an IO.

[2018-08-09 19:20] todo opened #225 "Consider adding knowledge of global wires and be able to assign"
https://github.com/SymbiFlow/symbiflow-arch-defs/blob/0b430ebbb40d4c977684c001fa9c55d621a70a0c/make/devices.cmake#L270-L275

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 0b430ebbb40d4c977684c001fa9c55d621a70a0c when #222 was merged. cc @litghost.

[2018-08-09 19:20] todo opened #226 "Add support for eblif based equivilence tests."
https://github.com/SymbiFlow/symbiflow-arch-defs/blob/0b430ebbb40d4c977684c001fa9c55d621a70a0c/tests/4-mlut/CMakeLists.txt#L1-L6

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 0b430ebbb40d4c977684c001fa9c55d621a70a0c when #222 was merged. cc @litghost.

[2018-08-10 22:14] litghost opened #232 "Artix7 fails routing tests"
Currently the following artix7 routing tests are disabled:
 - 5-lut_cascade_1
 - 6-big_xor
 - 6-counter

[2018-08-10 22:17] litghost commented on #232
Error from 5-lut_cascade_1:

Load circuit took 0.00 seconds
Error 1:
Type: Blif file
File: /usr/local/google/home/keithrothman/cat_x/symbiflow-arch-defs-cmake/build/tests/5-lut_cascade_1/5-lut_cascade_1_dummy_artix7_xc7a50t_test/artix7-xc7a50t-roi-virt-xc7a50t-test/top.eblif
Line: 10
Message: Failed to find matching architecture model for 'luta'

[2018-08-10 22:25] litghost commented on #232
Error from 6-led:

make 6-led_dummy_artix7_xc7a50t_test_route

Not enough resources expand FPGA size to (10 x 10)
Complex block 0: $auto$simplemap.cc:420:simplemap_dff$105, type: BLK_MB-CLBLL_L-INT_L ...............
Failed route at end, repack cluster trying detailed routing at each stage.
Complex block 0: $auto$simplemap.cc:420:simplemap_dff$105, type: BLK_MB-CLBLL_L-INT_L ..............
Complex

[2018-08-11 00:24] litghost opened #234 "DEVICE_TYPE in CMake system is a bad abstraction"
comment from mithro:

This refers to the tile-routing-virt and top-routing-virt right?

I feel like we ended up choosing a bad name for this. It would be better characterized as something like "architecture representation". Ultimately the tile and top routing should produce identical results.

For example,

tile routing means that a bunch of the routing is contained inside the tile definition. Thi

[2018-08-17 02:05] mithro commented on #140
I'm working on this.

[2018-08-17 02:06] mithro commented on #139
I'm working on this.

[2018-08-17 02:06] mithro commented on #138
@elmsfu This works as far as I know?

[2018-08-17 02:06] #138 closed

[2018-08-17 18:28] litghost commented on #196
I've profiled it already, and ~60% of the time is spent adding XML nodes for the edges in the graph.

[2018-08-22 21:20] #101 closed

[2018-08-22 21:26] #197 closed

[2018-08-22 21:26] #166 closed

[2018-08-22 21:26] #147 closed

[2018-08-22 21:26] #72 closed

[2018-08-22 21:26] #71 closed

[2018-08-22 21:27] #67 closed

[2018-08-23 16:40] elmsfu opened #247 "Add target to build icestorm"
cmake doesn't know how to build icestorm ... icepack, iceprog, etc.

`make blink_iceblink40-lp1k_bin VERBOSE=1`

[code]

[2018-08-23 16:43] elmsfu commented on #247
@litghost related to https://github.com/SymbiFlow/symbiflow-arch-defs/pull/246#discussion_r212046547

[2018-09-19 16:23] #226 closed, assigned to litghost

[2018-09-19 16:26] litghost commented on #68
Obsolete

[2018-09-19 16:26] #68 closed

[2018-10-03 18:10] litghost opened #255 "Move points.py point bag to tracks to minimize span distance"
There are currently two algorithms in points.py, and neither generally find the minimum span tree for a particular graph.  Some form of mimimum spanning tree that uses manhattan distance as the metric would work.  https://www.sciencedirect.com/science/article/pii/0166218X9400095U may be one such algorithm.

[2018-10-08 21:22] mithro opened #257 "Change cmake absolute path names to be relative to project root"
Currently the cmake has targets like
[code]

It would be better if the paths were relative to the top level directory. IE something like;
[code]

[2018-10-11 21:20] mithro opened #260 "cmake: Extract the xsltproc command from DEFINE_DEVICE into xml.cmake"
Create a `XML_XSLT` cmake function which runs an arbitrary `xsltproc` process. Something like;
[code]

This should probably be in [`make/xml.cmake`](https://github.com/SymbiFlow/symbiflow-arch-defs/blob/master/make/xml.cmake) file?

This already exists as part of https://github.com/SymbiFlow/symbiflow-arch-defs/blob/master/make/devices.cmake#L223-L257 - we should extract it and make this `DEFINE_D

[2018-10-16 03:38] mithro opened #262 "XML dependencies are calculated before ntemplate subsitution"
The following `ntemplate.Nlut.pb_type.xml` which has an `xi:include` fails;
[code]

It causes the following cmake output;
[code]

[2018-10-18 00:02] mithro opened #264 "Write up documentation on "project_xray_prepare_database" output"
The pull request @ https://github.com/SymbiFlow/symbiflow-arch-defs/pull/256/files adds a "prepare_database" step for project xray. Would be good to have some type of documentation on what that is doing and why it is doing that....

[2018-10-18 20:28] #78 closed

[2018-10-25 05:25] mithro opened #268 "Fresh checkout of symbiflow-arch-defs fails due to missing icebox"
[code]

[2018-10-25 12:29] litghost commented on #268
Correct.  I've updated the root Makefile in #256 to handle this.

[2018-10-25 18:45] mithro opened #270 "Add a `make clean` target to top level Makefile"
Currently doesn't seem anyway to "reset yourself to clean checkout state"....

Should just be `rm -rf build` I think?

[2018-10-25 18:49] mithro commented on #268
@litghost Why doesn't cmake handle this?

[2018-10-25 18:55] litghost commented on #268
Because that is the behavior of the CMakeCache. The is specifically user controlled. Read the "Variable types in CMake" section in https://cmake.org/cmake/help/v3.0/command/set.html

[2018-10-25 18:55] #268 closed

[2018-11-21 21:24] litghost opened #278 "Determine how to bring in prjxray python library and database"
Suggestion in #277 was to replace third_party/prjxray-db with third_party/prjxray/database.

[2018-11-21 21:40] litghost opened #279 "Consider using requirements.txt instead of add_conda_pip"
Currently pip dependencies are using "add_conda_pip" a custom CMake function defined by us.  Some of what add_conda_pip can be replaced with a requirements.txt, but not all.  Consider refactoring CMake to be able to use a requirements.txt and still support the features that add_conda_pip is performing.

[2018-12-19 00:24] litghost opened #283 "Add and test 7-series BRAM"
Currently BRAM's have bit-stream definitions, but the arch models don't use them.  First priority is to get BRAM's working in any mode.  Simplest mode to attempt is like 18k x 16-bit.

BRAM segbits: https://github.com/SymbiFlow/prjxray-db/blob/master/artix7/segbits_bram_l.db
BRAM pb type: artix7/primitives/bram/ramb18e1.pb_type.xml

[2018-12-19 00:33] litghost opened #284 "Determine how to get VPR clusterer to balance carry chains"
Currently carry chains are given unique pack pattern names.  This requirement isn't strictly speaking required, but without unique pack pattern names, the cluster sometimes crosses chains (e.g. CLBLL_LL_COUT -> CLBLL_L_CIN, etc).  This chain crossing does not work, and causes placement to fail.

Because carry chains were given unique names, and the clusterer is a "first fit" algorithm, all carry c

[2018-12-19 00:34] litghost opened #285 "Add constant tie support to VPR"
VPR does not support tying nets to constants.  Currently there are two designs proposals.  One is routable sources, the other is an annotation on the input pin.  Routable sources are likely the most convenient, at the cost of a more sophisticated routing graph.  This task is primarily focus on 7-series, but is a generic VPR change.

[2018-12-19 00:34] litghost opened #286 "Fix timing based packing for 7-series"
Some blocks in the current packing graph result in invalid timing paths that cause the clusterer to explode.  This is likely as simple as fixing broken timing paths and removing constant source from routing graph (see #285).

[2018-12-19 00:36] litghost opened #287 "Improve V2X support"
7-series arch models are mostly written directly in XML.

Starting with leaf models, determine how many models can be directly translated from XML to verilog and back again.  Goal is to have a more readable and maintainable format.  If the Verilog version of the XML model is not meeting that criteria, further exploration is required.

[2018-12-19 00:36] litghost opened #288 "Refine FASM support in VPR"
Currently FASM support in VPR was written to target 7-series only.  Effectively no tests have been written for the FASM in VPR support.

Tasks:

- Add unit testing for FASM support
- Integrate ice40 FASM output

[2018-12-19 00:37] litghost opened #289 "Improve CMake configuration time"
CMake's configuration time appears to be growing with the number of targets.  This can be mitigated by adding arch flags to disable arches.  This would lower the number of targets significantly.

Also consider profiling CMake and determining if something about target creation is hitting a slow path in CMake and either adjusting how symbiflow handles it, or patch CMake.

[2018-12-19 00:37] litghost opened #290 "Add Travis-CI support for 7-series"
Currently the RAM usage for the 7-series workflow is too large for Travis-CI.  Refactor the 7-series routing import logic to avoid using more than 4 GB of RAM.

[2018-12-19 00:38] litghost opened #291 "Reduce tech debt in 7-series"
7-series support is totally lacking tests around major portions of the python code between many of the projects.  That extends to the following libraries:

- fasm
- prjxray
- symbiflow's graph2
- Files in symbiflow artix7/utils

[2018-12-19 00:39] litghost opened #292 "Improve iteration time for 7-series"
Currently database changes cause ~10-30 minutes of recomputation of the various intermediate products.
Profile and determine if there are better algorithm/file output to reduction this

Goal is split into two priorities:
- Reduce time from arch.xml change to first pack
-  Reduce time from database change to first pack

[2018-12-19 00:40] #278 closed

[2018-12-19 00:41] litghost opened #293 "Improve timing model support for 7-series"
Currently the timing model is total nonsense because of bad constants for segments and pips.

[2018-12-19 00:43] litghost opened #294 "Move VPR specific yosys tech maps into symbiflow-arch-defs"
https://github.com/SymbiFlow/yosys/pull/5 put a lot of VPR specific stuff into the yosys techlib. https://github.com/SymbiFlow/yosys/pull/5#issuecomment-442715959 is right that these changes would break non-VPR flows, and the techmaps don't belong in yosys anyways.  Move the VPR only techmaps into symbiflow-arch-defs and revert the techmaps in yosys's xilinx flow.

[2018-12-19 02:16] mithro commented on #294
The idea is to do a pass **after** the normal yosys xilinx flow which is vtr specific.

[2018-12-19 02:17] mithro commented on #293
There is a timing fuzzer in Project X-Ray which generates some timing data. It can be found at https://github.com/SymbiFlow/prjxray/tree/master/fuzzers/007-timing

[2018-12-21 16:13] litghost opened #298 "Support multiple layouts in 7-series arch.xml"
Currently the layout (and ROI used) is tightly coupled to the arch.xml generation, and only one layout is generated that matches the ROI specified.  As support for more artix7 parts are added, there is no need to generate multiple arch.xml's for each part, instead a layout should be instead for each part, similar to how ice40 arch.xml is done.

This is also strongly suggested for adding zync suppo

[2019-01-02 11:57] mithro opened #305 "Generating svg image of xxx.sim.v output for Artix 7 SLICEL is broken"
[code]

[2019-01-02 12:35] mithro opened #306 "Sim models for the ff and 5ff are missing"
Looks like @litghost removed them when getting the Artix7 stuff working. Need to resurrect them.

[2019-01-02 13:08] mithro opened #307 "Add Arty to the artix7/boards.cmake file"
As one of our primary development platforms it would be good to add the Arty to https://github.com/SymbiFlow/symbiflow-arch-defs/blob/master/artix7/boards.cmake

[2019-01-02 15:31] YungBae3 commented on #307
Awsome have to try

[2019-01-02 19:02] litghost commented on #307
Before this is fixed, #298 should be fixed.

[2019-01-02 19:03] litghost commented on #298
There are two broad approaches to fix this.  Either create an arch.xml per layout, or include multiple layouts for arch.xml.  Multiple layouts per arch.xml is the ice40 approach, unclear if that is the best approach.

[2019-01-03 08:06] mithro opened #310 "Rename Artix 7 directory to something "Xilinx Series 7""
As we add Zynq and Kintex support, 95% of the stuff will be shared with what is currently in the Artix 7 directory. We should rename the Artix 7 to something more generic.

[2019-01-03 08:08] mithro commented on #310
I suggest we go with something like `xc7`?

The Artix parts all start with `XC7A`. The Kintex with `XC7K`, the Virtex with `XC7V` and the Spartan 7 with `XC7S`.

[2019-01-03 08:09] mithro commented on #310
Another option would be `series7`...

[2019-01-03 08:14] kgugala commented on #310
I like `xc7` - it explicitly says this is Xilinx' 7 series (not a random 7 series). With that name we shouldn't have conflicts with any future 7 series from other vendor.

[2019-01-03 11:08] kgugala opened #311 "basys3 counter example does not build"
It fails with:

[code]

[2019-01-03 11:09] kgugala commented on #311
I added the `CYINIT_CONSTANT` models from https://github.com/litghost/symbiflow-arch-defs/tree/artix7_startup/artix7/primitives/slicel

now the build fails with `Failed to find matching architecture model for 'FDRE'`

[2019-01-03 11:22] kgugala opened #312 "make env does not build the environment"
invoking `make env` did the following:

[code]

the env is actually build when an example is build

[2019-01-03 11:57] kgugala commented on #311
the `FDRE` issue is caused by too old yosys version downloaded by conda. Building with current SymbiFlow/yosys master does not generate this error

[2019-01-03 15:09] litghost commented on #311
Ya, those errors are caused by an old yosys techmap.  #294 was created to move some of the tech mapping definitions from yosys to symbiflow to mitigate this issue somewhat.

[2019-01-03 15:10] litghost commented on #311
I think tim kicked off a conda package rebuild with https://github.com/SymbiFlow/conda-packages/commit/5f02998f8cbf24bffa5564fe7f34f07ccf0749ea so hopefully this fixes itself.

[2019-01-03 15:11] litghost commented on #312
This was the intended behavior of the root level "make env".  If we want the conda steps to be run, the "env" CMake target will complete the setup.

[2019-01-03 15:47] litghost commented on #311
FYI, until #294 is resolved, I recommend setting the env var YOSYS to point to a local yosys executable.

[2019-01-04 11:16] mithro commented on #311
I believe the Yosys in conda should be up to date now. Can someone please
check if it works?

On Thu, Jan 3, 2019, 4:47 PM litghost <notifications@github.com wrote:

[2019-01-04 15:14] kgugala commented on #311
Yosys from conda is now correct.

[2019-01-04 21:41] #311 closed

[2019-01-04 22:45] tmichalak commented on #159
I started looking into the problem. However, since the last commit in the related PR is six months old, I rebased the fixes from @mithro on the current master first and then ran the flow. The ice40_generate_routing.py script aborted with invalid key error due to the fact that the "global" segment in the virtual rr_graph was missing. I noticed that there is "tile_global" segment in the virtual rr_g

[2019-01-05 11:35] kgugala commented on #312
right. Thanks for clarification.

[2019-01-05 11:35] #312 closed

[2019-01-07 07:51] galv commented on #289
Could trying out cmake 3.11 improve your configure time sufficiently? See [here](https://blog.kitware.com/improving-cmakes-runtime-performance/).

[2019-01-24 12:25] acomodi opened #337 "Fix multi process make support"
When building the xc7 tests, the compilation fails because of a bad JSON formatting.

[code]

This behavior is non-deterministic and it is probably due to the parallel compilation. By doing `make clean` or deleting the `channel.json` file and re-building (even a few times) the pin_assignment step successfully completes.

[2019-01-24 15:44] litghost commented on #337
I assume this occurs on https://github.com/SymbiFlow/symbiflow-arch-defs/pull/333 ?  Can you replicate this issue occurs on master as well?  If not, it may represent a regression in #333

[2019-01-24 20:50] mithro opened #338 "Merge the channel.py and channel2.py files in utils"
We have both;
 * https://github.com/SymbiFlow/symbiflow-arch-defs/blob/master/utils/lib/rr_graph/channel.py
 * https://github.com/SymbiFlow/symbiflow-arch-defs/blob/master/utils/lib/rr_graph/channel2.py

It would be good to merge them and add a decent test suite.

[2019-01-24 20:51] mithro opened #339 "Merge the graph.py and graph2.py files in utils"
We have both;
 * https://github.com/SymbiFlow/symbiflow-arch-defs/blob/master/utils/lib/rr_graph/graph.py
 * https://github.com/SymbiFlow/symbiflow-arch-defs/blob/master/utils/lib/rr_graph/graph2.py

It would be good to merge them and add a decent test suite.

[2019-01-25 10:11] acomodi commented on #337
I am going to check this behavior on the master then and see if the problem still occurs

[2019-01-28 15:55] acomodi commented on #337
I have run the `buttons` test on the master and replicated the same kind of error:

[code]

By cleaning and re-building it went through the pin_assignment step

[2019-01-30 10:42] acomodi opened #344 "Enable OpenOCD for Zynq"
To enable Zynq we need to set a new configuration file for openOCD to allow the programming of the device.

[2019-01-30 16:04] litghost commented on #286
Timing based packing is currently **disabled** via the options " --place_algorithm bounding_box --enable_timing_computations off".  Removing these options from https://github.com/SymbiFlow/symbiflow-arch-defs/blob/master/xc7/artix7.cmake#L69 will turn timing based packing back on.

When timing based packing is on, VPR crashes because outputs from the TIEOFF block have no clock.  This is actually c

[2019-01-30 16:08] litghost commented on #284
The unique carry chain names are assigned unique names is via specialize_carrychains.py, which is done here: https://github.com/SymbiFlow/symbiflow-arch-defs/blob/12e6f330e20bf7271ab33ece417f30ce01fedc39/make/devices.cmake#L324  Removing use of specialize_carrychains.py from xc7 results in the placer failing to place in a way to is routable, e.g. trying to route from a CLBLL_L to a CLBLR_L carry c

[2019-01-30 18:41] acomodi opened #346 "INPUT_IO_FILES issues in add_fpga_target_boards"
The cmake function add_fpga_target_boards in make/devices.cmake has an issue when explicitly stating the `INPUT_IO_FILES`. It has to further checked. More information in this PR https://github.com/SymbiFlow/symbiflow-arch-defs/pull/333#issuecomment-459014079

[2019-01-31 15:53] kgugala commented on #286
I re-enabled timing packing and vpr does not crash. Enabling that did not fix #284

[2019-01-31 17:05] litghost commented on #286
Double check that the arguments are present with make VERBOSE=1, sometimes the CMake variable cache gets in the way.

[2019-01-31 19:56] kgugala commented on #286
I double checked this. Timing based placing is enabled.

[2019-01-31 22:29] #157 closed, assigned to nobody

[2019-01-31 23:17] mithro commented on #181
@litghost Does this library exist somewhere?

[2019-01-31 23:21] litghost commented on #181
We don't need it?

[2019-01-31 23:21] #181 closed

[2019-01-31 23:22] litghost commented on #181
Also, in special cases, the interpretation is wrong.  At the top and bottom of every INT tile are turn around blocks.  I believe there are similiar constructs above large blocks, like PCI

[2019-02-04 15:51] acomodi opened #353 "Error in VPR during routing step for Zynq"
VPR exits with an error while routing when a zynq part is selected and while running the `counter` test in the `xc7` directory. The error is the following

[code]

To temporary solve the grid has to be expanded by `1` in the https://github.com/SymbiFlow/symbiflow-arch-defs/blob/1458f79c684c60554911c79b95d04caa7145c392/xc7/utils/prjxray_arch_import.py#L148.

[2019-02-04 23:59] elmsfu opened #356 "Debug and enable equivalence tests for Travis"
https://github.com/SymbiFlow/symbiflow-arch-defs/blob/38b1297541ed5c7ba4be735605da4e2f445dd490/.travis/script.sh#L59-L60

[2019-02-05 19:11] litghost commented on #283
Manual bram test appears to be working.  Next step is an automated R/W test and see about adding initial data support.

[2019-02-05 21:40] litghost opened #360 "Need BRAM simulation model"
The initial cells_sim.v for BRAM (https://github.com/SymbiFlow/symbiflow-arch-defs/blob/master/xc7/techmap/cells_sim.v) does not include a simulation of its behavior.  A model should be added to allow for simulations.

[2019-02-11 17:01] kgugala opened #372 "VTR cannot pack slicem.carrychain"
This can be reproduced by uncommenting the fifth counter in https://github.com/SymbiFlow/symbiflow-arch-defs/blob/master/xc7/tests/chain_packing/counter.v#L7
and using VPR from this PR https://github.com/SymbiFlow/vtr-verilog-to-routing/pull/9

This will pack the fifth counter into SLICEM.CARRYCHAIN and VPR packer fails with:
[code]
This happens only if a chain is packed into SLICEM

[2019-02-11 17:59] acomodi commented on #372
I have hacked this error by removing the CLBLM_[LR] definition from the `device_type` instantiation in `cmake` as in the example below:

[code]

This has the effect of not including `DRAM` blocks which are connected to the CLBLM_[LR] tiles.

[2019-02-11 18:04] litghost commented on #372
Ya, you completely removed CLBLM_[LR] tiles from the arch, which is not a solution.

[2019-02-11 18:29] acomodi commented on #372
Yes indeed, It Is just a temporary workaround, it should be properly solved

[2019-02-12 17:13] litghost commented on #294
https://github.com/SymbiFlow/symbiflow-arch-defs/blob/master/xc7/techmap/cells_map.v

[2019-02-12 17:34] litghost opened #373 "Need to handle slice wide inverters in 7-series FF's"
IS_C_INVERTED, IS_D_INVERTED, IS_[C|S|PRE|CLR]_INVERTED are slice wide bits, but are toggled at the FF feature level.  Because these features are slice wide, the packer needs to keep FF's with common features together, but the current pb_type's don't express this restriction.

The current techmap does not assert that these inverters are unused, but the techmaps should probably do that until this i

[2019-02-13 05:42] mjasperse commented on #149
I've implemented a parser that successfully extracts the module ports information directly from the UG953 PDF using the pdfminer package. I think the direct approach is more reliable than an intermediary pdf-to-text converter because there's a lot of ambiguity in how text gets serialised. I avoid this by using the raw positioning data for all text items in each "Port Descriptions" table. Module na

[2019-02-13 05:45] mithro commented on #149
@mjasperse - Fork add to xc7/libraries and submit a pull request.

Do make sure that your commits contain a [DCO line](https://github.com/wking/signed-off-by) too.

[2019-02-13 15:33] mkurc-ant commented on #294
Could you please assign me to this issue? I'am currently working on it and getting closer to a solution of the problem.

[2019-02-13 19:02] elmsfu commented on #294
@mithro looks like we need to add @mkurc-ant to an appropriate team to assign this. There may be other recent people we should add to a team.

[2019-02-13 22:12] mjasperse opened #376 "Add cmake target for PDF specs extractor"
As suggested in PR #374, add a CMake target that runs the PDF specifications extractor.

Requires the pdfminer.six package on python3

[2019-02-13 23:44] mjasperse opened #377 "Extract parameters from PDF specifications"
Following from idea #149, also extract parameter specifications from the PDF file

[2019-02-13 23:50] mjasperse commented on #377
I've modified the script from PR #374 to scrape the "Available Attributes" table for each relevant module, which works but has new edge cases to work around.

How do you want the parsed data represented in the output? Maybe something of the following form?
`parameter $NAME = $DEFAULT;  // $TYPE, allowed values: $ALLOWED`

[2019-02-13 23:57] elmsfu commented on #377
I think that is a reasonable approach. It captures all the information. In the future we may need to change it once we use it for validation.

[2019-02-14 00:13] mithro commented on #377
In some of the other Verilog we have used this form;

[code]

[2019-02-14 00:18] mithro commented on #377
We might also want to consider sphinx style strings.

The two most popular formats are;
 * NumPy style - https://numpydoc.readthedocs.io/en/latest/format.html#docstring-standard
 * Google Style - https://google.github.io/styleguide/pyguide.html#383-functions-and-methods

Then there is also Doxygen style comments too...

[2019-02-14 00:19] mithro commented on #377
We should probably look at generating a `generate` statement which makes sure the parameters are set to valid values?
[code]

[2019-02-14 00:21] mithro commented on #377
I wonder if there should be two steps. One which extracts the data from the pdf files into something like csv and then a second step which takes that input and generates Verilog / VHDL / other language outputs?

[2019-02-14 01:02] mithro opened #378 "Move soc_tests under the tests directory"
Tests which are common to all architectures can be found under the [`tests/`](https://github.com/SymbiFlow/symbiflow-arch-defs/tree/master/tests) directory.

I think it makes sense for the [`soc_tests`](https://github.com/SymbiFlow/symbiflow-arch-defs/tree/master/soc_tests) under the tests directory.

[2019-02-14 02:23] mjasperse commented on #377
An intermediate representation might be sensible because there are two distinct tasks here - one being parsing the PDF document and the other being turning that into a range of complex outputs. I'm generally not a fan of CSV in general because of the lack of structure, and here some attributes accept a range of values, others have specific choices. I am using XML for testing/debugging the script (

[2019-02-14 03:28] mithro commented on #377
No really strong preference around format. Any of XML, json, python pickle or CSV would be fine I think?

[2019-02-14 23:41] mithro commented on #294
@mkurc-ant - Done! This issue is now assigned to you.

[2019-02-15 08:15] mkurc-ant commented on #294
Great, thanks!

[2019-02-15 16:27] mkurc-ant opened #382 "The xc7/tests/counter example does not work from the current master branch (4b66516)"
The project builds but does not work on the actual hardware. All 4 LEDSs are off. Simulation of `top_synth.v` works fine. The last commit I've managed to successfully build and run is 79ab13f. I don't know if any other tests are affected.

For all my tests I've set the `LOGIC_DELAY` parameter to 0

I've checked commits between 79ab13f and 4b66516 (master), here is the summary:

4b66516 (master):

[2019-02-15 16:34] litghost commented on #382
You need a new ROI and database.  @mithro, status?

[2019-02-17 08:10] mjasperse commented on #377
This ended up being much more difficult than I anticipated compared to the previous parser, but I think it works now. To handle variations among the table entries the parser had to become much smarter, and then it became possible to extract the descriptions as well.

The original brief was just to get the minimum data to check compatibility, but the value checking proposed above requires more than

[2019-02-18 16:06] mithro commented on #382
I've pushed the new database but not the new harness yet.

Will push the harness tomorrow.

[2019-02-18 23:14] Fleker commented on #338
Good evening,
I'm interested in getting involved in this project, and I can work on this issue.

[2019-02-18 23:25] Fleker commented on #338
Looks like channel2.py is only used by graphs2.py

[2019-02-19 02:08] mithro commented on #338
Merging grpahs.py and graphs2.py is also on the TODO list.

[2019-02-19 02:10] mithro commented on #338
There might also be useful information [in this Google doc](https://docs.google.com/document/d/17QBzXAul8ioGL7WeTXk0awwspGIDZBZgTYUKy5oT_Gg/edit?usp=drivesdk)

[2019-02-19 10:37] acomodi commented on #372
I have been studying this problem. Follows the steps to reproduce it:

- VPR version: https://github.com/SymbiFlow/vtr-verilog-to-routing/pull/9
- Symbiflow-arch-defs: 79ab13f2b2ace5009b14fb11134f4e2a72fa9d63
- VPR options in [arch_define.cmake](https://github.com/SymbiFlow/symbiflow-arch-defs/blob/4b6651608ab699a1a56bfc6a491c327e97ffd5db/xc7/make/arch_define.cmake#L27) to be added: `--clustering_

[2019-02-19 14:53] mkurc-ant commented on #294
I've been struggling with this issue for some time and I do not have a complete solution. The thing is that there is no possibility to map Vivado primitives to VPR primitives just by using a techmap. That is because:

1. Carry chains
Vivado allows implicit carry output connections. The decision whether to go to the fabric or to another carry chain is make after synthesis in the P&R pass. However t

[2019-02-19 15:17] litghost commented on #294
LUTs should be able to use the same techmap, VPR also requires explicit instancing of any LUT greater than 6 inputs.

[2019-02-19 15:33] litghost commented on #373
Looks like only clock inversion is an actual bit.  The other inversions have to be done in logic.

[2019-02-19 15:33] litghost commented on #294
I double checked #373, only clock inversion is actually configuration.  How is the currently Yosys to Vivaod clock inversion handled?

[2019-02-19 15:57] litghost commented on #294
In the case of 1 and 3, it seems there is a straight forward place in the synthesis flow where the divergence occurs.  The original intention of this issue was to move as much of the techmaping out of the yosys repo into the symbiflow-arch-defs.  That simply means stopping the yosys flow that is part of synth_xilinx at a place prior to the divergence.  So in the case of FF's, the clock inversion p

[2019-02-19 22:28] litghost opened #385 "BRAM test sometimes fails due to indeterminate cause"
I've got the BRAM test work with initial BRAM set to all 0's.  I've seen it sometimes fail with a signature that looks like no writes are happening.  I haven't been able to replicate this issue consistently, but it is something to look out for.

[2019-02-19 22:44] litghost commented on #385
This might be a timing issue?  Re-running PnR changes the result.  I'll try a couple regenerations to see probabilities.

[2019-02-19 22:51] litghost commented on #385
Another possibility has to do with cascading address interconnect.  There are some unknown bits that show's up when Vivado compiles the bram_test:
 - 26_170
 - 26_172

This appears to be related to cascade address lines, but I haven't been able to pinpoint what the bits are for.

[2019-02-19 23:01] litghost commented on #385
Ya, I've confirmed that using the cascade address lines appears to be part of the trouble.  In cases where VPR routes all through the normal address lines, the test passes.  In cases where VPR routes through the cascade address lines, the test fails.

I'll manually add 26_170 and 26_172 to the solution, and see if a failing test passes.

[2019-02-19 23:14] litghost commented on #385
Adding the "magic" bits 26_170 and 26_172 to the sourcing cascade address tile appears to fix the issue.  Solution is now to write a fuzzer that correctly documents those bits.

[2019-02-20 00:48] #385 closed

[2019-02-20 03:41] mithro commented on #372
@acomodi
This sounds related to https://github.com/verilog-to-routing/vtr-verilog-to-routing/pull/365

[2019-02-20 03:42] mithro commented on #372
IIRC The `clustering_pin_feasibility_filter` is just a performance enhancement. It will stop the clusterer from doing more expensive routing checks if there are not enough top level pins to satisfy adding a molecule to the cluster (which mean the routing checks will ultimately fail).

[2019-02-20 03:47] mithro commented on #372
@acomodi Oh btw, the idea with the [testarch](https://github.com/SymbiFlow/symbiflow-arch-defs/tree/master/testarch) directory is to enable very simple example architectures which have features like this which we can make sure VPR continues to support properly.

[2019-02-20 09:53] mkurc-ant commented on #294
OK, So I'll try to move as much out of Yosys as possible. Keep in mind that I'll have to modify the flow of the @synth_xilinx@ macro. Unfortunatelly there is no a single point of divergence.

An alternative is to create a separate TCL script (or modify xc7/yosys/synth.tcl) for VPR and move the whole synthesis flow there. Therefore we will not have to use synth_xilinx at all.

[2019-02-20 15:22] mkurc-ant commented on #294
I've made two pull requests. One for SymbiFlow:
https://github.com/SymbiFlow/symbiflow-arch-defs/pull/390

And the second one one for Yosys
https://github.com/SymbiFlow/yosys/pull/8

[2019-02-22 23:19] #382 closed

[2019-02-22 23:20] #283 closed

[2019-02-22 23:20] #298 closed

[2019-02-22 23:21] litghost commented on #288
@elmsfu is working on integrating ice40 FASM output

[2019-02-28 18:14] litghost opened #409 "RAM32X1D not working"
https://github.com/SymbiFlow/yosys/pull/8 enabled synthesis of RAM32X1D, which had not been tested.  It appears that murax when synth'd with RAM32X1D does not work, but works when the RAM32X1D synthesis is removed.  Unclear if this is a caused by a bad pb_type or bad FASM matching.

- [ ] Write tests for additional DRAM modes.
- [ ] Confirm RAM32X1D issue replicates in smaller test case
- [ ] Iden

[2019-02-28 18:27] litghost commented on #409
This issue was seen in https://github.com/SymbiFlow/symbiflow-arch-defs/pull/402

[2019-03-04 15:57] litghost opened #415 "Split CLB tile into 2 SLICE_L or SLICE_L/SLICE_M tiles"

[2019-03-04 16:00] litghost opened #416 "Testing and verify support for using all 8 SLICE_[LM] carry chains"
Each of the 4 CLB tile types has 2 carry chains.  Currently the second chain in each tile is disabled.  Once https://github.com/SymbiFlow/vtr-verilog-to-routing/issues/17 and https://github.com/SymbiFlow/symbiflow-arch-defs/issues/415 are completed:

- [ ] Add test to verify that all 8 changes work as expect

[2019-03-04 16:01] litghost opened #417 "Verify picosoc works on 7-series"
- [x] Verify picosoc is working on 7-series
- [ ] Re-verify after https://github.com/SymbiFlow/symbiflow-arch-defs/issues/416 is closed

[2019-03-04 16:24] litghost opened #418 "Remove use of design.bit (ROI bitstream harness)"
Once ready, eliminate use of design.bit for making output bitstreams.

Prerequisites:
- [x] https://github.com/SymbiFlow/prjxray/issues/684
- [x] https://github.com/SymbiFlow/prjxray/issues/694

Tasks:
- [x] Modify harness generation to output all bits outside of ROI and add them to "required_features" in the design.json
- [x] Use tool from https://github.com/SymbiFlow/prjxray/issues/694 to create

[2019-03-04 16:26] litghost opened #419 "Add basic single-ended unidirectional 7-series IOB synthesis"
In order to eliminate the ROI, basic IOB synthesis must be done.

[2019-03-04 16:28] litghost opened #420 "Add support for place and route of 7-series IOB33, ILOGIC and OLOGIC sites"
In order to remove the ROI, pb_types need to be defined for IOB33, ILOGIC and OLOGIC sites.

[2019-03-04 16:29] litghost opened #421 "Add clock tree synthesis"
Add basic clock tree synthesis routing a root level clock signal to the global clock network.  When implementing, plan to handle MMCM or PLL to global clock network synthesis.

[2019-03-04 16:34] litghost opened #422 "Add support for BUFGCTRL primitive"
Add a pb_type for BUFGCTRL.   This is required for global clock network placement.  BUFHCE should *not* start as placeable, plan is to route through BUFHCE.

[2019-03-04 16:38] litghost opened #423 "Add and test support for global clock routing"
Prerequistes:
- https://github.com/SymbiFlow/symbiflow-arch-defs/issues/421
- https://github.com/SymbiFlow/symbiflow-arch-defs/issues/422
- https://github.com/SymbiFlow/prjxray/issues/684

Tasks:
 - [ ] Modify routing graph to treat BUFHCE as a route edge rather than a site
 - [ ] Attach required FASM features when routing along the BUFHCE edge to enable BUFHCE
 - [ ] Verify FASM routing bits from

[2019-03-04 16:43] litghost opened #424 "Remove ROI harness"
Prerequisites:
- https://github.com/SymbiFlow/symbiflow-arch-defs/issues/419
- https://github.com/SymbiFlow/symbiflow-arch-defs/issues/420
- https://github.com/SymbiFlow/symbiflow-arch-defs/issues/421
- https://github.com/SymbiFlow/symbiflow-arch-defs/issues/422
- https://github.com/SymbiFlow/symbiflow-arch-defs/issues/423

Once IOB and global clock network synthesis and place and route are in pla

[2019-03-05 08:45] kgugala opened #427 "vtr from conda does not recognize --round_robin_prepacking option"
this option has been added by the https://github.com/SymbiFlow/symbiflow-arch-defs/commit/60700b81aa5221ea99c72100aa26c3e67adb28b3 commit.

The option is implemented in vtr. We just need to bump the conda package

[2019-03-05 12:28] kgugala commented on #427
also genfasm should be updated:
[code]

[2019-03-05 16:39] mithro commented on #427
@kgugala Why would the `--round_robin_prepacking` be passed to the `genfasm` command?

[2019-03-05 16:52] elms opened #428 "Revert PR #426 when long-term fix has propagated to VPR"
Once we upstream most of our changes and get in sync with vtr-verilog-to-routing we can undo revert this

[2019-03-05 17:02] kgugala commented on #427
this is because all the vtr tools share the same arguments. The arguments are defined here: https://github.com/SymbiFlow/symbiflow-arch-defs/blob/master/xc7/make/arch_define.cmake#L27

[2019-03-05 18:15] mithro commented on #427
To rebuild vpr follow https://github.com/SymbiFlow/conda-packages/pull/10

[2019-03-05 19:38] #427 closed

[2019-03-06 07:07] prasadgujar commented on #62
@mithro can I solve this issue? if no is working on this issue.

[2019-03-06 11:00] tmichalak opened #433 "Unexpected command-line argument '--verbose_sweep'"
Seems that the vpr merged recently from upstream doesn't have the verbose_sweep switch anymore.
In our make/devices.cmake we set the VPR_BASE_ARGS with --verbose_sweep on so we do use this feature.
Not sure if removing it will break anything, but currently this totally breaks the flow.

[2019-03-06 14:17] litghost opened #436 "Fix Travis CI with latest VPR"
A testarch test is failing on the latest VPR, see https://travis-ci.org/SymbiFlow/symbiflow-arch-defs/builds/502415553?utm_source=github_status&utm_medium=notification

[2019-03-06 18:09] litghost commented on #436
I've identified what caused the regressions: https://github.com/verilog-to-routing/vtr-verilog-to-routing/issues/485

[2019-03-06 18:11] acomodi opened #438 "RAMB36 not implemented"
To have picosoc running the program data is saved in BRAMs. To allow it to correctly compile right now the bram yosys techlibs (`brams.txt`) has to be updated as follows:

[code]

This is to exclude RAMB36

[2019-03-06 18:12] litghost commented on #438
Disabling RAMB36 inference is a good short term solution, but we should enable RAMB36 place and route in symbiflow-arch-defs as well.

[2019-03-06 18:20] acomodi commented on #438
Agreed. For now, when compiling picosoc yosys has to be overriden with the local version that has RAMB36 disabled.

[2019-03-06 21:04] #284 closed

[2019-03-06 22:06] #436 closed

[2019-03-07 06:11] #378 closed

[2019-03-07 10:58] acomodi commented on #416
SLICEM carrychain issue is still not fixed. To have it to correctly work https://github.com/SymbiFlow/symbiflow-arch-defs/issues/372 has to be solved first

[2019-03-07 16:40] kgugala commented on #293
BEL timings seem to easily obtainable using `report_property` and `get_timing_arcs` functions.

e.g for LUT6 I have:

[code]

while for FDRE:
[code]

I'll create a fuzzer for getting all of those

[2019-03-07 16:46] mithro commented on #293
Please take a look at https://github.com/SymbiFlow/symbiflow-arch-defs/pull/165/files for how I was going about it for the ice40.

Ideally I think we want to end up with a SDF file which describes the timing internally of the SLICEL.

[2019-03-07 16:55] kgugala commented on #293
Do we have any tool that can update arch.xml with data from SDF?

[2019-03-07 16:56] mithro commented on #293
Not yet.

[2019-03-07 17:04] mithro commented on #62
@prasadgujar Nobody is currently looking at this. Please feel free to take a look and see if you can solve it.

[2019-03-07 17:12] mithro commented on #293
@kgugala - VtR however will produce a SDF file for a place and routed design at the end and a number of other tools accept SDF as input.

[2019-03-08 00:16] mithro opened #446 "--force flag will be removed from conda"
[code]

[2019-03-08 00:21] mithro opened #448 "make on checkout fails"
[code]

[2019-03-08 23:27] litghost commented on #353
VPR only allows channels to run from 0 to dim-2.  To enable general channels within the grid, the underlying grid does need to be prxjray_dim+2.

[2019-03-08 23:27] #353 closed

[2019-03-09 00:17] litghost commented on #292
#445 didn't actually reduce runtime or memory foot print yet.  Still more work to get from here to there.

[2019-03-09 00:36] litghost commented on #292
https://github.com/SymbiFlow/symbiflow-arch-defs/pull/449 took ~30 seconds off of the arch.xml to pack time and reduced the memory usage significantly.  Profiling to see where the next wins are.

[2019-03-12 02:37] mithro commented on #448
@litghost Can we remove the zybo build from the default 'all' target? Or should make some other target be the default?

[2019-03-14 00:44] mithro commented on #448
Harness was merged with the merge of https://github.com/SymbiFlow/symbiflow-arch-defs/pull/459

Now the failure is;
[code]

[2019-03-14 16:43] elms opened #463 "Revisit python dependencies and requirements file"
We essentially have python package dependencies scoped in the cmake files, but also have a requirements file at the top level. We should only have a single method of tracking dependencies.

Do we need to scope any packages and have them installed only if you are building a target that depends on them?

[2019-03-14 16:56] litghost commented on #463
No, but there does need to be some link between dependency installation and targets that need them.

[2019-03-14 17:46] elmsfu commented on #463
We have several libraries and several executable modules. One idea is to wrap these up as packages with a setup.py so they can be installed in the env and tested independently. The granularity of dependencies would be less, but easier to describe in CMake (I think). For example, if a build needs something from xc7/utils you will probably need them all so no harm in that level of dependency.

[2019-03-14 21:17] mithro commented on #463
@elmsfu Which libraries / executables are you talking about?

I agree that we should probably revisit requirements.txt verse inside cmake files verse setup.py, etc.

I definitely think the [third_party/prjxray](third_party/prjxray) ones should become proper Python modules (with setup.py and such). Unsure about the local stuff in this repo.

[2019-03-14 22:06] mithro commented on #448
With the following patch, it gets to doing vpr for the zynq,
[code]

However, the place and route of wire.eblif fails with;
[code]

[code]

[2019-03-14 22:22] mithro commented on #448
https://github.com/SymbiFlow/prjxray/pull/725

[2019-03-14 22:36] elmsfu commented on #463
These are top of mind:
 * [utils](https://github.com/SymbiFlow/symbiflow-arch-defs/tree/daee11d750e6ba6948f0c398690abd4dbb301189/utils)
 * [utils/lib](https://github.com/SymbiFlow/symbiflow-arch-defs/tree/daee11d750e6ba6948f0c398690abd4dbb301189/utils/lib)
 * [ice40/utils](https://github.com/SymbiFlow/symbiflow-arch-defs/tree/daee11d750e6ba6948f0c398690abd4dbb301189/ice40/utils)
 * [xc7/utils](htt

[2019-03-14 23:06] elmsfu commented on #247
Fixed in #430

[2019-03-14 23:06] #247 closed

[2019-03-14 23:13] elmsfu opened #464 "ice40: Implement ColBuf in routing import"
Column Buffer enabling is inferred via HLC. Moving to FASM with #447 turns on all the Column Buffers for now. This works but wastes power.

I think the correct way would be to model them in the routing graph and emit features when used. It could also be done in a post-PnR (place and route) fixup step.

[2019-03-14 23:14] elmsfu commented on #288
#447 addresses the ice40 FASM output and FASM -> Bit.

[2019-03-14 23:16] elmsfu commented on #5
Closing as it works. At least as far as providing UART and blinking LEDs. It has not been tested heavily.

[2019-03-14 23:16] #5 closed

[2019-03-14 23:16] litghost commented on #464
Definitely a post-PnR fixup.  Clock networks in 7-series have something similar, but it is definitely as if A then B thing.  Sounds like the Column Buffers are similiar?

[2019-03-14 23:18] elmsfu commented on #464
Can you explain the trade-offs (downside) of modeling in the routing graph?

[2019-03-14 23:28] elmsfu opened #465 "ice40: handle IO params in synthesis step"
Currently ice40 IO in VPR can only handle SimpleInput and SimpleOutput. The modes could more easily be handled by techmapping to SB_IO in synthesis and then passing PINTYPE and PULLUP as params to fasm features.

Input Enable (IE) and Resistor enable (REN) would still need some fixup due to (not necessarily being in the same tile)[http://www.clifford.at/icestorm/io_tile.html].

[2019-03-14 23:29] mithro opened #466 "sqlite errors when doing parallel build"
[code]

[2019-03-14 23:29] elmsfu opened #467 "Add unit testing for FASM support"
Splitting #288

[2019-03-14 23:31] elmsfu opened #468 "Integrate ice40 FASM output"
splitting #288

[2019-03-14 23:32] elmsfu commented on #467
@litghost Please add some details what code you'd like to add tests for.

[2019-03-14 23:32] elmsfu commented on #468
#447 will complete this

[2019-03-14 23:33] elmsfu commented on #288
Splitting issue into the two separate tasks.

[2019-03-14 23:33] #288 closed

[2019-03-14 23:37] litghost commented on #466
Duplicate: https://github.com/SymbiFlow/symbiflow-arch-defs/issues/337

[2019-03-14 23:37] #466 closed

[2019-03-14 23:43] litghost commented on #464
I actually think the 7-series BUF REBUF case can be handled in the routing graph, so I take back my previous statement.  I am worried about some of the feature enables for the clock being done in the routing graph, and it may be simpler to test and code in a post-PnR solution.  I guess the distinction is if the feature can be tied to one edge, then maybe it will work out.

[2019-03-15 00:53] mithro commented on #463
Just going through those directories;

 * `xc7/utils` are all command line tools
 * `ice40/utils` is mostly command line tools, with one library file `pcf.py`
 * `utils/*.py` seem to be mostly command line tools. Seems to be one library file `eblif.py`.
 * `utils/lib` these actually seem to be library / support functions with `utils/lib/rr_graph` and `utils/lib/rr_graph_xml` been strongly librarie

[2019-03-15 22:52] elmsfu commented on #102
Found an old note that I used the command below to report git-tracked files that would have changes if yapf was run on it.
[code]

[2019-03-18 17:30] #468 closed

[2019-03-18 18:23] Fleker commented on #338
The easiest way to do this would be to just copy and paste, although it seems like Channel2.py was created due to some deep-seated bugs in Channel.py track layout. Would it make more sense to fix the Channel.py bug, or just merge the files?

[2019-03-18 18:27] Fleker commented on #339
It looks like the files do a lot of similar things, but differently. For example, graph2.py defines a few enums like SwitchType as numbers, whereas SwitchType in graph.py uses strings. Is there a preference for this?

[2019-03-18 18:38] litghost commented on #339
In all cases prefer graph2 over graph.

[2019-03-18 18:38] litghost commented on #338
channel.py is simply wrong, so I wouldn't both to fix it.

[2019-03-18 20:22] elmsfu commented on #339
To give some background: graph is used for the ice40 portion and is tightly coupled with the XML. graph2 is for xc7 and avoids being tied with the XML format and is more optimised for larger FPGAs. I think the the optimizations (and separation from XML) are the reasons @litghost says prefer graph2.

It may make sense to have some unit tests at the higher level to allow quicker iteration. I'm actua

[2019-03-18 22:14] mithro commented on #338
@litghost Do you remember what made you think that channel.py was wrong?

[2019-03-18 22:18] elmsfu opened #476 "`python setup.py develop` might be a better option for fasm env setup"
`python setup.py develop` might be a better option here.

See this -> https://stackoverflow.com/questions/19048732/python-setup-py-develop-vs-install

_Originally posted by @mithro in https://github.com/SymbiFlow/symbiflow-arch-defs/pull/447_

[2019-03-18 22:19] litghost commented on #338
From channels2.py:

[code]

There is also the fact that channels.py is ~1141 lines long and channels2.py is 40 lines long.

[2019-03-18 22:24] mithro commented on #338
channels.py is missing a lot of the pretty printing functionality,
https://github.com/SymbiFlow/symbiflow-arch-defs/blob/7ad5525b8b5d8128ef5aed84bf000689712821f6/utils/lib/rr_graph/channel.py#L1051-L1068

https://github.com/SymbiFlow/symbiflow-arch-defs/blob/7ad5525b8b5d8128ef5aed84bf000689712821f6/utils/lib/rr_graph/channel.py#L1113-L1122

[2019-03-18 22:27] litghost commented on #338
I don't there is value in pretty printing (to text) channels when you are talking about hundreds and thousands of channels.  If we need to visualize channels, we already have VTR visualization.  If want a better visualization, we should probably enhance VTR's GUI or create something of our own that has zoom capabilities.

[2019-03-19 01:24] Fleker commented on #338
@litghost there is not a `channel.Channel` class. Of three main methods in channel2 (`place_track`, `pack_tracks`, and `fill_empty`), only `fill_empty` is implemented in `channel.ChannelGrid`, and used in the `channel.Channels` class.

[2019-03-19 15:09] elmsfu commented on #149
This looks fixed in #374. Reopen if I'm incorrect.

[2019-03-19 15:09] #149 closed

[2019-03-19 15:13] elmsfu commented on #377
This looks fixed in #374. Reopen if I'm incorrect.

Thanks again @mjasperse :star:

[2019-03-19 15:15] #377 closed

[2019-03-20 18:37] acomodi commented on #372
Closing. Fixed through https://github.com/SymbiFlow/vtr-verilog-to-routing/pull/29

[2019-03-20 18:37] #372 closed

[2019-03-20 20:39] elmsfu opened #481 "Create build target for to run python tests"
Currently existing python tests are not run. There should be a top level target to run all python tests.

Travis script should then call that target.

This can be addressed after #463

[2019-03-20 23:33] mithro opened #482 "Error in prjxray import scripts don't get shown"
If you have an error in the prjxray import scripts it just hangs at a progress bar that looks like the following;
[code]

When you ctrl-c the command you get the actual error which was;
[code]

The KeyboardInterrupt seems to have been received by;
[code]

[2019-03-21 16:01] elmsfu opened #486 "xc7 xml fails to lint"
`make artix7_xc7a50t_test_rrxml_real_lint` fails

<details>
<summary>Traceback</summary>

[code]

</details>

[2019-03-21 16:16] mithro commented on #482
I believe this has something to do with the `__exit__` stuff added?

[2019-03-21 16:16] mithro commented on #482
@litghost Thoughts?

[2019-03-22 16:58] litghost opened #491 "[XC7] Some designs fail on hardware"
@mkurc came up with https://github.com/SymbiFlow/symbiflow-arch-defs/pull/490 that works at small N and fails at larger N.

This issue tracks the investigation into why this is happening and potential solutions.

[2019-03-22 17:00] litghost commented on #491
I've seen this issue when I connected all IO lines to the xc7/tests/bram_test.  There was a known issue where SHORT's should be used instead of MUX's on channel connections, but that did not appear to fix the issue.  Something else is going on.

[2019-03-22 17:16] elmsfu commented on #216
HLC no longer used. But this may still be a valid issue with running all the steps at once instead of separately. Will need to retest to see if this issue can be reproduced.

[2019-03-22 17:17] litghost commented on #216
I've actually independently seen issues around this.  I've in fact fixed at least one bug related to this caused by a double metadata load.  Could that explain what this issue is?

[2019-03-22 17:21] elmsfu opened #493 "Remove all HLC references"
- [ ] Remove HLC metadata from routing
 - [ ] Remove HLC metadata from layout
 - [ ] Remove HLC build rules

[2019-03-22 17:41] litghost commented on #491
The changes in https://github.com/SymbiFlow/symbiflow-arch-defs/pull/494 cause the BRAM tests to start failing.  I suspect something is happening at higher router pressure that is cause the failure.

[2019-03-22 18:10] litghost commented on #491
So #494 causes the DRAM test to break too, which makes me believe this might be an ROI bug rather than something else.

[2019-03-22 19:27] litghost commented on #491
It looks like the disabling round robin packing helps with the failure in #494.  I'll test if it helps with #490.

[2019-03-22 19:37] litghost commented on #491
I think this is related to setting the DLUT.RAM bit and then not having an DRAM's connected.  This was caused by the round robin packing because it would have the DRAM mode even if it wasn't required.  This resulted in the DLUT.RAM bit being set, but no actual DRAM's being in use.

[2019-03-26 21:08] elmsfu commented on #307
@acomodi Should this be closed with #462?

[2019-03-26 21:09] acomodi commented on #307
@elmsfu Yes, I believe we can close this issue

[2019-03-26 21:16] Dhiraj240 commented on #13
@mithro I want to do python related task before GSOC proposal submission.Please assign this to me or can i work on it ?

[2019-03-26 21:17] Dhiraj240 commented on #14
In reference to #13  please assign this also to me.Can i work on it ?

[2019-03-26 21:17] elmsfu commented on #13
@Dhiraj240 I don't think we can assign it to you, but feel free to create a PR that addresses it.

[2019-03-26 21:19] elmsfu commented on #14
@Dhiraj240 Feel free to work on this and create a PR. You can mention the issue ID in the PR description.

[2019-03-26 21:21] elmsfu commented on #192
Duplicate of #196

[2019-03-26 21:21] #192 closed

[2019-03-26 21:23] Dhiraj240 commented on #13
@elmsfu are you maintainer of this project or GSOC student like me ? Alright i will make PR for it.

[2019-03-26 21:24] Dhiraj240 commented on #14
Alright :+1:

[2019-03-26 21:55] elmsfu commented on #307
Fixed by #462

[2019-03-26 21:55] #307 closed

[2019-03-27 01:11] litghost commented on #264
The write up is complete, @mgielda is converting this to RST, and this can be closed.

[2019-03-27 13:08] Dhiraj240 commented on #14
@elmsfu Please close this issue it is already satisfying pep8.

[2019-03-27 17:09] litghost commented on #482
This is caused by memory_connection.in_transaction being true.  I encountered this bug in another context, where I had forgot to call conn.commit() before the cache attempted to flush.  I believe I understand the fix.

[2019-03-28 16:58] elmsfu commented on #481
Looks like we have an attempt to support `pytest`, but previously I think we had `doctest` running. More recently we have used `unittest`.

The target should run `unittest` and `doctest`. If we use `pytest` we should phase them out in favor of `unittest`

[2019-03-28 17:09] #482 closed

[2019-03-28 17:15] elmsfu opened #513 "Add format target"
Should run
 - [x] python formatter #102
 - [ ] clang-format
 - [ ] cmake-formatter #220
 - [ ] xml lint

[2019-03-28 18:56] #446 closed

[2019-03-28 20:21] elmsfu commented on #14
`yapf` has no issues with this file.

[2019-03-28 20:21] #14 closed

[2019-03-28 20:44] mithro commented on #481
@elmsfu pytest is a "test runner". It runs [`unittest`](https://docs.pytest.org/en/latest/unittest.html) and [`doctest`](https://docs.pytest.org/en/latest/doctest.html) tests.

We should continue to use `unittest` and `doctest` but use pytest as the test runner when running everything at once.

[2019-03-29 01:14] litghost commented on #491
@mkurc-ant I'm having trouble getting any of the 9-scalable_proc tests to work.  Can you provide a commit in which 9-scalable_proc works on hardware?

[2019-03-29 01:41] litghost commented on #491
@mkurc-ant: I figured out what was going on, the RST sw was in reset

[2019-03-29 01:51] litghost commented on #491
@mkurc-ant: Looks like BRAM N1 passes, but DRAM N1 fails.  Does this match your results?

[2019-03-29 14:04] mkurc-ant commented on #491
@litghost: For N=1 and 2 it works correctly for me. Here are my results:

symbiflow-arch-defs: da63099
Yosys: 87846729 (built locally)
VPR: f725c5ac0 (built locally)

Round robin prepacking: ON
N=1 - Working correctly
N=2 - Working correctly
N=3 - Working, computation errors
N=4 - Working, computation errors
N=5 - Working, computation errors
N=6 - Working, computation errors
N=7 - Working, computa

[2019-03-29 14:10] acomodi commented on #491
@mkurc-ant @litghost Would it be worth to run the same tests with the version of VTR before the upstream merge and see if there are issues with the merge? (I am referring to the first merge https://github.com/SymbiFlow/vtr-verilog-to-routing/pull/20)

[2019-03-29 15:12] litghost commented on #491
Are you testing with BRAM or DRAM?  I see that N = 1 works for BRAM, but I'm seeing N = 1 fail for DRAM.

[2019-03-29 15:12] litghost commented on #491
Naw, I have a feeling none of this is truely a VPR bug, but an arch-def bug of some kind.

[2019-03-29 15:28] mkurc-ant commented on #491
@litghost These results I've posted are for DRAM

[2019-03-29 15:43] litghost commented on #491
Thanks for clarifying.  My focus today will be to get some bugs worked out of fasm2bels on the scalable test and see if I can identify the issue.

[2019-03-30 00:07] #257 closed

[2019-03-30 00:36] #486 closed

[2019-04-01 23:24] elmsfu commented on #13
Closed in #508

[2019-04-01 23:24] #13 closed

[2019-04-02 20:04] litghost opened #524 "Always PPIPs should be modelled as shorts"

[2019-04-02 20:53] litghost commented on #524
FANx/BYPx usage in CLB tiles:

[code]

Given how FANx or BYPx signals are used, I'm not sure how modelling these edges as shorts should make a difference.  If the signal is unused, then it toggling should be safe to ignore.  The exception is the SR and CE signals, which have the SRUSEDMUX and CEUSEDMUX bits to protect CLB from stray signals.

[2019-04-02 21:00] mithro commented on #524
Still, from a semantic view - it would be good for them to be shorts.

[2019-04-02 21:01] litghost commented on #524
It causes routing output to break, because VPR sees an active net connected to a block IPIN that is not part of the netlist.  I'm not sure how to solve that right now.

[2019-04-02 22:46] elmsfu commented on #463
overlaps #279

[2019-04-02 23:40] mithro commented on #463
Just FYI - it is worth also thinking about setup.py verse requirements.txt

 * https://packaging.python.org/discussions/install-requires-vs-requirements/
 * https://stackoverflow.com/questions/43658870/requirements-txt-vs-setup-py
 * https://caremad.io/posts/2013/07/setup-vs-requirement/

[2019-04-03 16:59] elmsfu opened #526 "Remove use of add_test in cmake files as it doesn't have dependency support"
This makes be conclude that ctest is not a good solution and that we should just wrap tests in shell script and call as normal custom targets.

Links related to open feature request to fix this in CMake:
 * [old mantis bug](https://cmake.org/Bug/view.php?id=8774)
 * [current tracking issue](https://gitlab.kitware.com/cmake/cmake/issues/8774)

_Originally posted by @elmsfu in https://github.com/Sym

[2019-04-03 18:17] litghost opened #527 "Improve 7-series test coverage"
The 7-series test coverage of 7-series specific features is not very good, and we already have evidence that something is wrong in how VPR is using the 7-series parts (#491).

Because of the complexity of the SLICEL and SLICEM, I think it is prudent to write additional tests focused on checking validity of the architecture modelling.  There is some of this in xc7/tests/dram, but those tests are fa

[2019-04-03 18:21] litghost commented on #527
SLICEL-subset:

[ ] Test LUT modes, LUT6, LUT6_2, LUT5 x 2
[ ] Test CE = 1 versus CE = signal
[ ] Test SR = 0 versus SR = signal
[ ] Test FDSE/FDRE vs FDPE/FDCE vs LDPE/LDCE
[ ] Test carry initialization (0, 1, signal)
[x] Test carry chains: tests/7-carry_stress

[2019-04-03 18:25] litghost commented on #527
SLICEM-subset:

- [x] Test single RAM64X1D: xc7/tests/dram_test
- [ ] Test 2 RAM64X1D sharing a tile with differing D signals
- [ ] Test 2 RAM64X1D sharing a tile with same D signals (should share D signal)
- [ ] Test 2 RAM64X1D with differing address lines are packed into two tiles

[2019-04-03 18:35] litghost commented on #527
@HackerFoo As you work on #409, if you could add ideas for more SLICEM focused tests.  I'd like to capture 7-series test coverage in this issue for now, even if most of the tests aren't written yet.

[2019-04-03 21:30] elmsfu opened #528 "clean up `utils` modules with best practices and consistent style"
I think some consistency and making sure these modules are organized following best practices would help avoid some issues.

Why have you changed these to absolute imports?

_Originally posted by @mithro in https://github.com/_render_node/MDExOlB1bGxSZXF1ZXN0MjY2MzUwNTg3/pull_requests/unread_timeline_

[2019-04-03 22:24] elmsfu commented on #481
Fixed by #520

[2019-04-03 22:24] #481 closed

[2019-04-03 22:52] mithro commented on #481
Yay! \o/

[2019-04-04 16:40] mithro opened #532 "Add documentation to specialize_carrychains.py"
The file [utils/specialize_carrychains.py](https://github.com/SymbiFlow/symbiflow-arch-defs/blob/master/utils/specialize_carrychains.py) file has not documentation about why it is needed or what "specializing carry chains" actually does?

[2019-04-05 06:05] elmsfu opened #536 "report code coverage for tests"
We should consider gathering coverage information.

_Originally posted by @elmsfu in https://github.com/SymbiFlow/prjxray/issues/56#issuecomment-480072654_

[2019-04-05 06:08] elmsfu commented on #536
Also maybe add coverage badge

[2019-04-05 17:56] litghost commented on #285
This turned out to not be required, and constant support exists for testarch (#518) and 7-series now (#511).

[2019-04-05 17:56] #285 closed

[2019-04-05 18:04] litghost commented on #290
I believe the routing import can now be performed on travis, we should add rr graph generation for 7-series back to travis, combined with some parallelism to bring the runtime in check.

[2019-04-05 18:51] litghost commented on #337
There is also a bug in the conda support with multi processes.  I'll submit a PR to fix both.

[2019-04-05 20:07] litghost opened #539 "Define and implement reasonable all target"
Current default all target as of c66597570807a07734e59a98fe0456b2b2a39ff0 is to build every bitstream.  This is almost certainly not the right thing to do as the default all target.  This issue about defining and implementing a reasonable all target.

[2019-04-05 21:17] #337 closed

[2019-04-05 21:17] #448 closed

[2019-04-05 21:30] elmsfu commented on #539
I agree that all bitstreams is probably not correct. Maybe "small" tests would be a good goal with the aim to cover of all the blocks and modes. But that leaves any stress test, but not sure if travis is a good match for that.

[2019-04-05 21:31] litghost commented on #539
I think it problably time to get the kokoro instances going to symbiflow, because they are beefier machines, and will be able to run @ -j16 and get results in a reasonable amount of time.

[2019-04-05 22:41] litghost commented on #290
Turns out the bigger problem is the 50 minute time limit on travis, and we are already close to that with current runs taking ~38 minutes.

[2019-04-05 22:44] mithro commented on #290
You can have multiple runs at the same time - see https://github.com/SymbiFlow/prjxray/blob/master/.travis.yml#L21-L34 for example.

If we can split this into ice40, testarch and xc7 would it be fast enough?

[2019-04-05 22:45] litghost commented on #290
Potentially, and problably valuable anyways to cut down on CI time.  Probably worth attacking splitting the arches first, then add xc7 as a follow up.  I've thought about having explicit arch support flags, and this would be a good outgrowth of that idea.

[2019-04-05 23:09] elmsfu commented on #102
Started adding pyflakes [here](https://github.com/elmsfu/symbiflow-arch-defs/tree/add_pyflakes). Will need to address lots of compliance.

[2019-04-05 23:12] elmsfu commented on #528
Started some [reorg work](https://github.com/elmsfu/symbiflow-arch-defs/tree/python_reorg_agedon). Not sure if it's the right approach.

[2019-04-08 16:06] litghost opened #544 "[XC7] Constant routing network cannot connect to OPADs"
Because of how the ROI is defined, the global constant network (e.g. VCC and GND) cannot connect to the synthetic OPADs directly.  This is an artifact of the ROI.  Once the ROI is removed, this will not happen.

I'm planning on submitting a PR today to have the use of the constant network optional, and annotate routing tests to use LUT sources until the ROI is removed.

[2019-04-08 16:07] litghost commented on #544
The error manifests as a routing error from VCC or GND to OPAD.

[2019-04-08 16:53] #544 closed

[2019-04-08 16:55] litghost opened #546 "[XC7] Remove logic to disable global constant network"
In https://github.com/SymbiFlow/symbiflow-arch-defs/pull/545 the global constant network is selectively disabled for designs that tie a OPAD to a constant.  This is an artifact of the ROI.  Once the ROI is removed, this logic should be removed.

[2019-04-08 18:00] litghost opened #548 "[XC7] Zybo arch is not working"
Error from VPR:

[code]

[2019-04-08 18:03] mithro commented on #262
@litghost - Is this still a problem?

[2019-04-08 18:03] mithro commented on #294
@litghost / @mkurc-ant - Has this been solved now? I think so?

[2019-04-08 18:04] mithro commented on #193
@hzeller - FYI

[2019-04-08 18:05] mithro commented on #99
There is a WIP at https://github.com/leon575777642/vprgen/tree/master/vprgen

[2019-04-08 18:05] litghost commented on #294
Ya

[2019-04-08 18:06] mithro commented on #548
This was reported in https://github.com/SymbiFlow/symbiflow-arch-defs/issues/448 which was closed?

[2019-04-08 18:07] litghost commented on #548
The title of the issue was wrong, which was that "make all" was failing.  The correct solution there was to remove zybo from all.  Zybo is still broken.

[2019-04-08 18:10] litghost opened #549 "[XC7] RAM128X1D test is no longer working"

[2019-04-08 18:18] litghost opened #550 "[XC7] Picosoc requires tile split"
Round robin packing is disabled for now, so until the tile split (#415) is complete, picosoc will not place due to resource limitations.

[2019-04-08 18:33] mithro opened #552 "Drop tinyfpga-b2 support"
The tinyfpga-b2 has been replaced with the tinyfpga-bx. There are only ~100 tinyfpga-b2 boards in the world, so it doesn't really make sense to continue to support them.

[2019-04-08 18:35] #294 closed

[2019-04-08 23:01] HackerFoo opened #558 "dram test doesn't work in sim"
![dram_test](https://user-images.githubusercontent.com/1069462/55762361-7da19580-5a17-11e9-9139-1b41276e4418.png)

[2019-04-08 23:17] HackerFoo opened #559 "Rely on external package management as much as possible"
Automatically loading dependencies via Conda and PIP causes difficulty when trying to integrate with the system package manager, or when working offline.

In particular, Nix (and hence NixOS) controls dependencies to ensure repeatable builds, so it would be better to allow Nix to handle the dependencies.

The apparent approach would be to use `cmake -DUSE_CONDA=FALSE ..`, but this seems to be curr

[2019-04-08 23:35] mithro commented on #559
@HackerFoo - External package managers (IE Debian / Ubuntu apt, Fedora, etc) don't have new enough versions or our custom patched versions. The other option would be to compile from scratch.

conda gives us a way to distribute (rather than compile from scratch) binary versions of our tooling.

[2019-04-08 23:40] litghost commented on #559
Conda setup should only occur the first time you build, much like a system package manager.  If conda is getting invoked after initial setup, that is likely a bug.

[2019-04-09 00:31] mithro opened #561 "Remove `BEL_FF` (etc) naming"
A lot of the objects were named `BEL_FF` and `BLK_BB`. This was originally because we didn't have any way to attach metadata to the objects, so it was encoded as part of the name.

Now we have metadata support, we should move the info into metadata and go back to having human readable + understandable names.

[2019-04-09 17:25] HackerFoo commented on #559
This works okay for development, but may cause problems when deploying to e.g. test servers. It's best to leave the packaging to the package managers, and either distribute packages directly or set up repositories (e.g. PPAs for Ubuntu.) Another option is to use Nix, or use a separate script that can be run before building.

I've also seen a single build download Miniconda at least 6 times, even i

[2019-04-09 17:31] litghost commented on #559
Then that's simply a bug.

[2019-04-09 18:10] elmsfu commented on #559
I would have written a [shorter reply if I had the time](https://en.wikiquote.org/wiki/Blaise_Pascal#Pascal_plus_longue)

I think there is room to improve around this area, but we are still not close to stable and rely on integration of several repos that are in flux. I don't think this is an area we should attack yet. There is probably a bigger question for deploying for non-development.

## My u

[2019-04-09 21:21] HackerFoo commented on #559
I would like to propose:

4. Use [Nix](https://nixos.org/nix/), which allows caching binaries as well as statically fixing dependencies to prevent surprises. This gives the stability of a monorepo without giving up modularity. It is portable to Linux and MacOS, but more importantly it forces all dependencies to be enumerated, which would help when making packages for other systems.

I agree that i

[2019-04-09 21:55] hzeller commented on #559
I like solution (2) - have one project that bundles together all kinds of sub-projects. To do hermetic builds, a sprinkle of (3) (Docker), but _only_ as a basic development environment.

Reason why I think this is good
  - Easy to see which part is where and what the dependencies are. Right now (with conda) the dependencies are resolved 'automagically', but it makes it really hard to find the rele

[2019-04-09 23:59] HackerFoo opened #564 "cmake -DUSE_CONDA=FALSE is broken"
[code]

[make/env.cmake:314](https://github.com/SymbiFlow/symbiflow-arch-defs/blob/master/make/env.cmake#L314)

I've tried commenting out those errors, but then I run into trouble with lines like:

[code]

and removing `_required` leads to a dead end where those things really are required.

[2019-04-10 16:34] litghost opened #568 "Improve CI"
https://github.com/SymbiFlow/symbiflow-arch-defs/pull/556 adds an initial kokoro CI setup, but it is imperfect.  Problems:
- [ ] Runtime is way too long.  ice40 is at 27 minutes and xc7 is at 75 minutes
- [ ] Equivalence tests are not running.  Currently the equivalence tests on xc7 cannot be run until the ROI is removed, and there is not a narrow target that runs equivalence on only ice40 or only

[2019-04-10 17:32] elmsfu commented on #564
I think the logic [here](https://github.com/SymbiFlow/symbiflow-arch-defs/blob/master/make/env.cmake#L308-L318) is not quite right. If doesn't look at the `NO_EXE` flag. It should probably be checking if python can import those packages instead of `find_program` if `NO_EXE` is provided.

You can probably work around by setting environment variables before running `cmake`

[2019-04-10 17:36] litghost commented on #290
With kokoro CI running, this is obsolete.

[2019-04-10 17:36] #290 closed

[2019-04-10 18:03] mithro commented on #564
I think when using conda, the system is checking for progressbar2 being installed in the conda environment?

[2019-04-10 18:03] mithro commented on #564
`python -c "import progressbar2"; echo $?` could be the correct way to check the module is available?

[2019-04-10 19:04] mithro opened #571 "Rename `library` to `common/verilog`"
I think it makes more sense for the common verilog code under [`library`](https://github.com/SymbiFlow/symbiflow-arch-defs/tree/master/library) be moved to `common/verilog`.

We have XML stuff under [`common/xml`](https://github.com/SymbiFlow/symbiflow-arch-defs/tree/master/common/xml).

(It also might make sense to move `make` to `common/cmake` too?)

[2019-04-10 19:04] mithro commented on #571
@litghost @elmsfu Thoughts?

[2019-04-10 19:05] litghost commented on #571
I don't think moving everything under common is helpful, it adds hierarchy where one isn't really required.

[2019-04-10 19:06] litghost commented on #571
More specifically, does common/xml have anything to do with common/verilog?  No, then why put them in a tree together.

[2019-04-10 19:08] mithro commented on #571
@litghost library is just a generic name. It should have verilog in its name somewhere?

[2019-04-10 19:09] mithro commented on #571
It's also good to have a clean top level in the hierarchy. I would suggest we want to try and keep it to one per architecture and then a couple of others.

[2019-04-10 19:10] elmsfu commented on #571
I think `common/verilog` is better than `library`. But maybe @litghost has a point in that. Do we want `common` to be a bag of part?. Maybe `shared_verilog` or `verilog_lib` but we also don't want to promote everything to top level directory. `common/xml` should probably also be `xml_schemas`

[2019-04-10 19:19] mithro commented on #571
I was using common to mean "usable for all architectures".

[2019-04-10 19:35] litghost commented on #571
I do think `verilog_lib` is better than `common/verilog`.  I think a good example of something that is fine is `tests`.  I don't think `tests` should move under `common`.

[2019-04-10 20:22] litghost opened #572 "Add SymbiYosys support for equivalence testing"
ZipCPU was kind enough to help debug the equivalence test failure in https://github.com/SymbiFlow/symbiflow-arch-defs/pull/570 and was able to prove the test case by using SymbiYosys, which is not currently supported in symbiflow-arch-defs.

[2019-04-11 00:34] litghost commented on #572
One downside of adding SymbiYosys support is the need to add an SMT2 engine.  While SymbiYosys + yosys can do proving via yosys-abc, it connect generate the failure case without an SMT2 engine (per https://github.com/YosysHQ/SymbiYosys/issues/40).  Options are:
- yices
- boolector
- z3
- mathsat
- cvc4

With the default as yices.  If we want to generate failure case, we'll need to bring in another

[2019-04-11 22:20] mithro commented on #572
* https://anaconda.org/asmeurer/z3

[2019-04-11 22:22] mithro commented on #572
Kinda surprised that the others are also not already packaged...

[2019-04-11 22:23] mithro commented on #572
CVC4 optionally links against the following libraries:
 * ABC                (https://bitbucket.org/alanmi/abc)
 * CaDiCaL            (https://github.com/arminbiere/cadical)
 * CryptoMiniSat      (https://github.com/msoos/cryptominisat)
 * LFSC checker       (https://github.com/CVC4/LFSC)
 *   http://www.ginac.de/CLN/
 *   https://github.com/timothy-king/glpk-cut-log

[2019-04-11 23:26] litghost opened #578 "Improve xc7 fasm2verilog output"
With https://github.com/SymbiFlow/symbiflow-arch-defs/pull/577, fasm2v is good enough to be useful, however it could be more useful when debugging correctness issues with some more features.

Ideas to improve output, along with difficulty:
- [ ] (easy) Combine carry chain inputs and outputs into wire bus for easier viewing in during simulation.  This is a pretty straight forward verilog parsing ta

[2019-04-11 23:59] litghost commented on #491
I've replicated the scalable poc failure using fasm2verilog and Vivado simulation.  I've gotten far enough to determine that the fsm_pulse_cnt isn't incrementing, will debug further tomorrow.

[2019-04-12 12:14] acomodi opened #582 "Add tiles tag to XML architecture file"
With https://github.com/SymbiFlow/vtr-verilog-to-routing/pull/36 the current XML architecture definitions will produce an error due to the fact that `tiles` tag is absent.

There is the need to create a script that can generate the `<tiles>` tag containing all the top level `pb_types`

[2019-04-12 22:04] elmsfu commented on #10
@mithro Can we close this as it is replaced by #293?

[2019-04-12 22:13] elmsfu commented on #293
#55 relates to this. I think specify blocks are parsed by yosys but ignored (I have not confirmed this)

#574 is the start importing before `v2x`

Here is a [working document](https://docs.google.com/document/d/1nucKg8i07MI8f6lbZhJKlSSrC33_exBNeC3kt2sgDYY) to capture some thoughts.

[2019-04-12 22:36] mithro commented on #10
@elmsfu Sounds good to me!

[2019-04-12 22:36] #10 closed

[2019-04-12 22:40] elmsfu commented on #293
@kgugala Here is an iCE40 SDF with a [clear violation](https://gist.github.com/elmsfu/0a3c87247496c57b488a2a2ce789a22c#file-timings_hx1k-sdf-L213) of the SDF standard around the PLL.

[2019-04-13 05:00] litghost commented on #491
Final discovered the bug, it was in the FASM output for the routing graph, and it affected HLC and FASM generation for both xc7 and ice40.

[2019-04-15 17:10] litghost opened #590 "Consider adding a pre-yosys Ventilator lint check"
Apparently verilator has a linter that a couple people over in the #yosys channel were praising.  I've found yosys itself has only so-so warnings.  Should we have a step to call:
[code]
?

[2019-04-16 04:31] kgugala commented on #262
@mithro yes, it seems it is - I got hit by that when working on generating all the xmls from verilog

[2019-04-16 07:34] kgugala opened #593 "missing tbassert.v?"
During CMake build env creartion `deps_verilog` throws the following error:

[code]

This does not seem to be critical as it does not break the build process.

[2019-04-16 14:50] litghost commented on #593
This is fixed in master after 71670ab

[2019-04-16 14:50] #593 closed

[2019-04-16 17:06] #491 closed

[2019-04-16 17:19] litghost opened #595 "v2x features to replace XML generation"
As part of the BEL timing improvements, several new V2X features are required:
- [ ] Add support for arrays of modules (e.g. num_pb's > 1)
- [ ] Add support for FASM prefix on arrays of modules
- [ ] Add support for FASM LUT annotations
- [ ] Add support for FASM mux annotations on ``<direct>`` and ``<mux>`` within ``<interconnect>``
- [ ] Add support for FASM features on ``<mode>``
- [ ] Add supp

[2019-04-16 17:20] litghost commented on #595
@elmsfu @kgugala FYI

[2019-04-16 18:30] mithro commented on #590
SGTM.

[2019-04-16 19:29] elmsfu opened #598 "Add tests for sim.v"
Yes, cocotb is no longer a dependency we support without significant effort.  We should find another approach to testing sim.v files.

_Originally posted by @litghost in https://github.com/SymbiFlow/symbiflow-arch-defs/pull/586_

Previously we had some support for testing using cocotb. That package has had some recent development and may be more easily leveraged. We should also consider other appr

[2019-04-16 19:35] litghost commented on #598
I think this issue is duplicated from https://github.com/SymbiFlow/symbiflow-arch-defs/issues/59

[2019-04-16 19:36] elmsfu commented on #598
Yep, didn't realize that was still open.

[2019-04-16 19:36] #598 closed

[2019-04-16 19:59] elmsfu commented on #595
@litghost @kgugala Any objections to using attribute annotations for example`(* SYMBIFLOW_FASM_PREFIX = feature_name *)`

I think using we should consider adding a prefix to the timing information as well, so it is obvious that it is a symbiflow construct. maybe instead of symbiflow `V2X`, `verilog_arch_def`, or `vtr`. thoughts?

[2019-04-16 20:01] litghost commented on #595
I think thats a solid idea.  What about ``FASM.PREFIX`` over ``FASM_PREFIX``.  ``_`` is roughly a space and ``.`` is rough "hierarch" or "namespace".

[2019-04-16 20:17] mithro commented on #595
I would drop the `SYMBIFLOW_` bit?

[2019-04-16 20:28] elmsfu commented on #595
@mithro I was thinking that it would be good to use a prefix for all symbiflow or arch-def specific attributes so it was obvious they are specific to generating arch-defs and not more broadly supported or used by some other tool. Do you think it's too verbose?

[2019-04-16 20:28] litghost commented on #595
Too verbose.  ``FASM.`` or ``V2X.`` is probably sufficient.

[2019-04-16 20:32] elmsfu commented on #595
What about for the timing info. Useful to have a prefix? or is there a standard practice?

[2019-04-16 20:36] kgugala commented on #595
write now those are added with:

[code]
I think those are quite explanatory

[2019-04-16 20:48] acomodi opened #599 "v2x solve issues to have working tests"
Currently v2x tests (utils/vlog/tests) are being disabled as the only way to make all of them pass was to have some workarounds in the `vlog_to_pbtype.py` scripts.

The workarounds should be avoided with cleaner solutions and then we can re-enstablish the v2x tests

[2019-04-17 09:02] mkurc-ant commented on #578
@litghost Regarding "Add a comment above LUT6_2's with the equation form of the LUT from input to output. Ideally they will be reduced equations.":

You mean to write own implementation of an algorithm which converts a truth table with up to 6 inputs to a boolean equation ? Or use an already available solver for this task ? Pure python or an external library/tool ?

I would gladly go with this tas

[2019-04-17 15:42] litghost commented on #578
Yosys can perform this composition, and I believe there are python libraries too.

That is what I was thinking, about it doesn't have to be all implemented by us.

[2019-04-17 18:26] #262 closed

[2019-04-19 11:08] mkurc-ant commented on #578
@litghost

I believe that Yosys can only do the opposite: convert boolean equation to a truth table. Not vice-versa.

I found some implementation of Karnaugh map solvers in python but they are limited to 4 inputs only. We are aiming at LUTs with up to 6 inputs (as they are in 7-series) right? A Karnaugh solver is very straightforward so I can write own implementation for 6-input LUTs.

There is al

[2019-04-19 22:42] mithro commented on #599
@acomodi Are you working on this?

[2019-04-20 02:46] mithro opened #612 "ModuleNotFoundError: No module named 'intervaltree'"
Ran `$ make test_python_utils` and got the follow error;
[code]

[2019-04-20 02:49] mithro commented on #612
If you run a `make test_python` it works fine and then `make test_python_utils` works....

[2019-04-20 02:50] mithro commented on #612
I think this is a dependency problem?

[2019-04-20 02:50] mithro commented on #612
Any ideas @elmsfu ?

[2019-04-20 02:53] mithro commented on #599
First issue is;
[code]

[2019-04-20 02:54] mithro commented on #599
[Remove `BEL_FF` (etc) naming #561](https://github.com/SymbiFlow/symbiflow-arch-defs/issues/561)

[2019-04-20 04:37] mithro commented on #599
@acomodi The first issue listed above should be solved by the pull request at https://github.com/SymbiFlow/symbiflow-arch-defs/pull/613

[2019-04-20 10:25] acomodi commented on #599
@mithro Currently I am not actively dealing with re-establishing the v2x tests as I am more focused on the tile equivalence issue. As far as I know, though, it should not require too much effort to get tests working again, so I could deal with this as well.

[2019-04-22 16:44] elmsfu commented on #612
I think we will continue to have such issues until we tackle #463

[2019-04-22 18:13] #612 closed

[2019-04-22 20:13] HackerFoo commented on #549
[code]

[2019-04-22 20:14] mithro commented on #549
https://github.com/SymbiFlow/symbiflow-arch-defs/blob/6850f2c665a8fabb12a771067d6d2a2d7ea266c0/xc7/primitives/slicem/slicem.pb_type.xml#L569-L574

[2019-04-22 20:20] mithro commented on #549
You probably want to enable the echo files and/or enable [this define](https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/master/vpr/src/pack/cluster_router.cpp#L37).

[2019-04-22 20:23] mithro commented on #549
It might also be helpful to look at https://github.com/SymbiFlow/symbiflow-arch-defs/tree/master/xc7/primitives/slicem/Ndram

[2019-04-22 20:23] HackerFoo commented on #549
Results from _route_echo:
[code]

[2019-04-22 20:25] mithro commented on #549
There should be a prepack file which has the molecules in it...

[2019-04-22 20:34] mithro commented on #549
I think that pack-pattern is suppose to join two 128 bit LUT rams together into a molecule so that WAUSED is correctly set...

[2019-04-22 20:42] mithro opened #616 "Rename distributed ram (DRAM) to LUT ram"
The DRAM acronym is easily confused with SDRAM / DDR-RAM. All "Distributed RAM" in the XC7 is actually LUT RAM, hence we should call it that.

[2019-04-22 20:43] mithro commented on #549
@HackerFoo What does the molecule echo file show?

[2019-04-22 23:40] mithro commented on #616
@HackerFoo - FYI.

[2019-04-22 23:55] HackerFoo opened #617 "{S,D}PRAM128 name is misleading and not in the CLB User Guide"
For example, a RAM128X1S is built from 2 6 input LUTS (2 DPRAM64s or a SPRAM64 and a DPRAM64) in the CLB User Guide, but [cells_map.v](https://github.com/SymbiFlow/symbiflow-arch-defs/blob/master/xc7/techmap/cells_map.v#L263-L311) calls them {S,D}PRAM128s.

[2019-04-23 00:00] HackerFoo opened #618 "More than 2 RAM32X1Ds can be packed in a slice"
Vivado can pack more than 2 RAM32X1Ds into a slice by using a single A, B, or C 6 LUT and both O5 and O6 as outputs.

[2019-04-23 00:02] HackerFoo opened #619 "Documentation implies multiple LUT modes, but there is only one."
https://github.com/SymbiFlow/symbiflow-arch-defs/blob/bcdfe977bf2c7761174ecea91b25a71d10cb056b/xc7/primitives/common_slice/Nlut/ntemplate.Nlut.pb_type.xml#L3-L7

[2019-04-23 00:06] HackerFoo commented on #618
https://github.com/SymbiFlow/symbiflow-arch-defs/blame/master/xc7/primitives/slicem/Ndram/README.md#L8

[2019-04-23 01:50] mithro opened #621 "Why is there a bram_l and bram_r which are identical?"
* [bram_l](https://github.com/SymbiFlow/symbiflow-arch-defs/tree/master/xc7/primitives/bram_l)
 * [bram_r](https://github.com/SymbiFlow/symbiflow-arch-defs/tree/master/xc7/primitives/bram_r)

Seem to map from the same set of top level ports to the [bram primitive](https://github.com/SymbiFlow/symbiflow-arch-defs/tree/master/xc7/primitives/bram_r).

Just seems an extra level for no reason?

[2019-04-23 01:51] mithro commented on #621
[code]
verse
[code]

[2019-04-23 02:12] mithro commented on #548
Confirmed to still be happening in trunk as of https://github.com/SymbiFlow/symbiflow-arch-defs/commit/619364d5ddfc608a9e38f9290e4cad045db92596

[2019-04-23 02:15] mithro commented on #619
It appears that the LUT6 is being modelled as a 2 * 5 input LUTs an extra MUX to combined them.

[2019-04-23 02:16] mithro commented on #619
This can be confirmed by look at the techmap;
https://github.com/SymbiFlow/symbiflow-arch-defs/blob/619364d5ddfc608a9e38f9290e4cad045db92596/xc7/techmap/cells_map.v#L240-L258

[2019-04-23 02:22] mithro commented on #561
Looks like I've broken some edges;
[code]

[2019-04-23 02:38] mithro commented on #617
I agree that these names are misleading. I'm thinking the reason they are name `DPRAM128` is because they are being used to make the `RAM128X`? If that is the case then we could use something like `DPRAM64_for_RAM128X1S`?

[2019-04-23 02:41] mithro opened #622 "Write documentation about why the stub is needed to create dual port 128 LUT RAM"
@HackerFoo Can you add details here?

I think we determined it was because you need need two pairs of LUTs which must all be placed in the same SLICE, however there is nothing about the LUTs to tell VPR they should be in the same tile.

The stub takes the `SPO` output from one LUT pair and `DPO` output from the other LUT pair and creates a block to give vpr the information needed?

[2019-04-23 03:19] mithro commented on #561
FYI - These are actually all the outputs;
[code]

[2019-04-23 04:30] HackerFoo commented on #622
RAM128X1D is like RAM256X1S, except the 8 mux isn't used, instead using the outputs from both of the 7 muxes. This still takes a whole slice, but it makes the two halves independent, yet we'd still like both halves to be packed into the same slice.

To force VPR to do this, the outputs from both 7 muxes (SPO and DPO) are routed through a stub that is a black box to VPR, so now both halves can be c

[2019-04-23 04:34] HackerFoo commented on #617
It also seems like there is a lot of duplication between the RAM64 variants.

[2019-04-23 16:56] mithro opened #623 "Add schema checks to make sure all block have metadata"
In this repository all the `<pb_type>` objects should have a metadata tag which contains;
[code]
It should also check that the `type` + `subtype` values are valid.

[2019-04-23 16:58] mithro commented on #623
Previously it was;

[2019-04-23 17:00] mithro commented on #623
I think the valid types are;
 * bel
 * block

If `type` is `bel` then valid subtypes are;
 * `routing` - Routing mux
 * `lut` - Lookup table.
 * `flipflop` - Lookup table.
 * `memory` - Memory.
 * `blackbox` - Black box object.

If `type` is `block` then valid subtypes are;
 * `tile`
 * `slice`
 * `ignore`

[2019-04-23 17:00] mithro commented on #623
@Laksen do you know how to do this?

[2019-04-23 17:15] Laksen commented on #623
@mithro not sure. Can you give an example of a valid metadata block?

[2019-04-23 17:34] mithro commented on #623
@Laksen In words it would be;

 * A `<pb_type>` tag should contain a `<metadata>` tag.
 * A `<pb_type>` with a `<metadata>` tag should have a `<meta name="type">` and a ``<meta name="subtype">`
 * `<meta name="type">` text value should be one of `bel` or `block`
 * If `<pb_type>` has `<meta name="type>block</meta>` then the text value of `<meta name="subtype">` should be `tile`, `slice` or `ignore

[2019-04-23 17:38] Laksen commented on #623
@mithro Can the metadata contain other meta tags? Is it okay to enforce ordering (subtype meta tags should follow type meta tags)?

[2019-04-23 17:43] mithro commented on #623
@Laksen Yes, it can contain other `<meta name="xxx">` values.

[2019-04-23 17:43] mithro commented on #623
@Laksen I think enforcing ordering should be fine?

[2019-04-23 18:03] Laksen commented on #623
@mithro Hmm. Don't think it's possible with a version 1.0 schema

[2019-04-23 18:20] mithro commented on #623
@Laksen Should be able to enforce some parts (like must have a `<metadata>` and `<meta name="type">` tags).

[2019-04-23 20:57] mithro opened #624 "Kokoro runs for xc7 bounces between ~30m or ~80m run times"
The kokoro CI runs for xc7 seems to either take;
 * under 30 minutes (~20-25 minutes), or
 * over 75 minutes (~80 minutes).

It is unclear why the run time is jumping between these two lengths...

[2019-04-23 21:04] #561 closed

[2019-04-23 21:16] mithro commented on #599
#561 has been merged now, I'm looking at the tests.

[2019-04-23 21:23] mithro opened #625 "Add format_cmake target to auto-format CMakefile.txt files?"
There is a `cmake_format.py` script @ [./make/cmake_format.py](https://github.com/SymbiFlow/symbiflow-arch-defs/blob/6104aafffae1b4a1c1c0acab1e6e49b46bbf104c/make/cmake_format.py). This script doesn't seem to be used anywhere (maybe because of #220?).

We should add a `format_cmake` target which formats the cmake files.

[2019-04-23 21:29] mithro opened #626 "Clean up the top level directory"
We should try and keep the top level directory of the repository relatively clean.

I suggest we do the following;
 - [ ] Move `make` to `common/cmake`
 - [ ] Move `yosys` to `common/yosys`
 - [ ] Move `library` to `common/verilog`
 - [ ] Move `cmake.md` to `docs`

Maybe we should rename `common` to `support`?

This leaves us with the following top level things;
 - `build`
 - `CMakeLists.txt`
 - `

[2019-04-23 21:29] mithro commented on #626
@elmsfu - Thoughts?

[2019-04-23 21:30] mithro commented on #626
My general aim is to have as close as possible to one top level directory for each architecture.

[2019-04-23 21:31] mithro commented on #626
Issue #571 is part of this.

[2019-04-23 21:38] mithro commented on #599
Current set of tests;
 - [ ] `fig41-full-adder`
 - [ ] `fig42-dff`
 - [ ] `dsp_combinational`
 - [ ] `dsp_in_registered`
 - [ ] `dsp_inout_registered`
 - [ ] `dsp_inout_registered_dualclk`
 - [ ] `dsp_modes`
 - [ ] `dsp_out_registered`
 - [ ] `dsp_partial_registered`
 - [ ] `simple_pll`

[2019-04-23 21:41] elmsfu commented on #626
I like the suggestions.

A few others to consider
 - [ ] put all archs in a subdirectory
 - [ ] move `tests` to `common/test_designs`

[2019-04-23 21:51] mithro opened #629 "Add v2x test for Figure 46 - Multiclock Dual Port RAM"
Add a v2x test which generates the following model XML.
[code]

This should match the [Fig. 46 Multi-clock sequential simple dual port ram](https://docs.verilogtorouting.org/en/latest/tutorials/arch/timing_modeling/#multi-clock-sequential-block-with-internal-paths) in the [Verilog to Routing: Primitive Block Timing Modeling Tutorial](https://docs.verilogtorouting.org/en/latest/tutorials/arch/timin

[2019-04-23 21:55] mithro commented on #626
In some ways I think a wire isn't really a "design"....

[2019-04-23 21:58] mithro opened #630 "Add v2x test for Figure 43 - Mixed sequential/combinational single port ram"
Add a v2x test which generates the following model XML
[code]
and the following pb_type XML;
[code]

This should match the [Fig. 43 Mixed sequential/combinational single port ram](https://docs.verilogtorouting.org/en/latest/tutorials/arch/timing_modeling/#mixed-sequential-combinational-block) in the [Verilog to Routing: Primitive Block Timing Modeling Tutorial](https://docs.verilogtorouting.org/en

[2019-04-23 22:01] mithro opened #631 "Add v2x test for Figure 44 - Sequential single port ram"
Add a v2x test which generates the following model XML,
[code]
and the following pb_type XML,
[code]

This should match the [Fig. 44 Sequential single port ram](https://docs.verilogtorouting.org/en/latest/tutorials/arch/timing_modeling/#multi-clock-sequential-block-with-internal-paths) in the [Verilog to Routing: Primitive Block Timing Modeling Tutorial](https://docs.verilogtorouting.org/en/latest

[2019-04-23 22:03] mithro opened #632 "Add v2x test for Figure 45 - Sequential single port ram with a combinational input"
Add a v2x test which generates the following model XML,
[code]
and the following pb_type XML,
[code]

This should match the [Fig. 45 Sequential single port ram with a combinational input](https://docs.verilogtorouting.org/en/latest/tutorials/arch/timing_modeling/#sequential-block-with-internal-paths-and-combinational-input) in the [Verilog to Routing: Primitive Block Timing Modeling Tutorial](http

[2019-04-23 22:05] mithro commented on #599
These tests will need to be added;
 - [ ] #630 - Add v2x test for Figure 43 - Mixed sequential/combinational single port ram
 - [ ] #631 - Add v2x test for Figure 44 - Sequential single port ram
 - [ ] #632 - Add v2x test for Figure 45 - Sequential single port ram with a combinational input
 - [ ] #629 - Add v2x test for Figure 46 - Multiclock Dual Port RAM

[2019-04-23 22:06] mithro commented on #626
I kind of like having the architectures at the top level directory...

[2019-04-23 22:16] elmsfu commented on #626
I can see either way on archs, but I think `tests` is a poor name and is intended to be common

[2019-04-23 22:24] mithro commented on #626
Yeah, I agree to that...

[2019-04-23 23:20] mithro commented on #599
I created a [SymbiFlow Parts Encyclopedia](https://docs.google.com/document/d/1ngck6LGVTXm6HDrVqWeEGdEELrKPWXVaeejkXurgfl4/edit#) document which is suppose to cover how various verilog and xml stuff is related.

I've only really had a chance to start filling out routing muxes so far...

[2019-04-23 23:32] mithro opened #633 "v2x simple_pll test needs a pb_type"
Currently the [`utils/vlog/tests/simple_pll`](utils/vlog/tests/simple_pll) test only has a `model.xml` output. It should also test the `pb_type.xml` output.

[2019-04-23 23:45] mithro commented on #599
For the remaining tests the issue seems to be related to when the inputs are registered.

The following verilog;
[code]

Ends up with the following error;
[code]

This could be because [`proc` step](http://www.clifford.at/yosys/cmd_proc.html) has not be run in yosys and thus the always block has not been converted to flipflop / latches / etc?

[2019-04-23 23:50] mithro commented on #599
FYI - This is mentioned in the [utils/vlog/yosys/json.py](utils/vlog/yosys/json.py) file below;
https://github.com/SymbiFlow/symbiflow-arch-defs/blob/48be48e95dd972047327698d8721a46639504f4e/utils/vlog/yosys/json.py#L1-L14

[2019-04-23 23:53] mithro commented on #599
Looks like the command trying to be run is;
[code]

[2019-04-24 00:00] mithro commented on #599
Adding a `V=1` will get you the Yosys commands being run. They are;
[code]

[2019-04-24 00:02] mithro commented on #599
Looks like proc / prep might already been called, so must be something else?

[2019-04-24 00:09] mithro commented on #599
When I run yosys manually, I don't get anything particularly concerning...
[code]

[2019-04-24 00:11] mithro commented on #599
Adding `cd dsp_in_registered; show` shows a perfectly reasonable diagram of the following;
![image](https://user-images.githubusercontent.com/21212/56623829-cf871580-65ea-11e9-9d40-007a3ffac10e.png)

[2019-04-24 00:19] Laksen commented on #623
You can guarantee that there should be a meta element with that name and that type attribute. But nothing more really. It's very context sensitive and not good xml, from reading about it.

Could the overall design be changed?

[2019-04-24 09:07] kgugala commented on #599
@mithro the `dsp_in_registered` fails because we're missing dff's there. To be more precise https://github.com/SymbiFlow/symbiflow-arch-defs/blob/master/utils/vlog/yosys/json.py#L248 returns only drivers which are either inputs to the module, or output of another cell.

Since the dffs in https://github.com/SymbiFlow/symbiflow-arch-defs/blob/master/utils/vlog/tests/dsp_in_registered/dsp_in_register

[2019-04-24 16:33] kgugala commented on #595
Initial code for handling multiple instances of the same cell is a part of the #639

[2019-04-24 16:39] kgugala commented on #599
#639 solves the issue with `dsp_in_registered`, however there is still a problem with pb_num in the pb_model.xmls

@mithro please take a look on #639 if it is OK, I'll fix all the rest of dsp registered tests (they all fail with the same issue)

[2019-04-24 18:50] elmsfu commented on #599
Is [this](https://github.com/SymbiFlow/symbiflow-arch-defs/blob/master/utils/vlog/yosys/json.py#L80) doing the correct thing for vectors? I think we are just picking the first one for each?

[2019-04-24 20:18] mithro commented on #623
@Laksen How would you suggest it be changed?

[2019-04-24 21:02] HackerFoo opened #640 "Make sure IS_WCLK_INVERTED is passed for all DRAM types"
https://github.com/SymbiFlow/symbiflow-arch-defs/blob/ec20de8cef15e087478a7f78485f27105eabc90e/xc7/techmap/cells_map.v#L497

[2019-04-24 22:48] elmsfu commented on #599
If I understand we should be able to infer the dependency, but need to add logic to traverse the netlist graph to determine it for cases that any module doesn't have a pb_type.

[2019-04-24 23:41] mithro opened #642 "Make v2x produce the new composable interconnect specification again (IE Revert #637)."
The pull request https://github.com/SymbiFlow/symbiflow-arch-defs/pull/637 changed v2x to output the **old** interconnect format. This we should probably revert #637.

I assume that #637 was merged because other pull requests depend on it. Hence I'm logging this issue to understand what needs to be done.

[2019-04-24 23:42] mithro commented on #642
@kgugala + @acomodi - FYI

[2019-04-25 00:48] mithro commented on #599
Two comments;
 * The version you have after your fix **should** work and be supported.
 * The version before you fix should **also** work.

As I mentioned in #639;

[2019-04-25 00:49] mithro commented on #640
@HackerFoo I'm not sure what this issue is describing?

[2019-04-25 00:50] mithro commented on #640
Is the issue that `.IS_WCLK_INVERTED` is hard coded to `1'b0` rather than using the `localparam` value?

[2019-04-25 05:26] mithro commented on #622
Yeah! That sounds about right.

Can you get this documentation into the repository somewhere?

Would be good to have a diagram with it. There should be comments in the
techmap and xml files pointing to this documentation too.

I would also rename stub to something like "FORCE_ASSOCIATION" or maybe
"FORCE_COMBINED_PLACEMENT"?

On Mon, Apr 22, 2019, 9:30 PM Dustin DeWeese <notifications@github.com>

[2019-04-25 07:21] mithro commented on #599
@kgugala - Why are the auto-generated `$dff` cells being ignored? They should be like any other cell?

[2019-04-25 07:25] mithro commented on #599
So the issue might be these lines;
https://github.com/SymbiFlow/symbiflow-arch-defs/blob/2a41dcc11eee49c3315d811e7060409c4a9fac56/utils/vlog/yosys/json.py#L229-L236

The code seems to be striping out cells which start with `$` like the `$dff` cells generated by the `proc` pass...

[2019-04-25 07:32] mithro commented on #619
@HackerFoo - Here is some older stuff -> https://github.com/SymbiFlow/symbiflow-arch-defs/pull/647

Need to talk to @litghost about why it was disabled....

[2019-04-25 08:15] mkurc-ant commented on #640
@HackerFoo
I did some looking, here are my findings:

As for the most recent Yosys (master+wip @2c7e2541) the RAM32X1D is not included in techmap at all. It has to be defined there:
- `techlibs/xilinx/drams.txt`
- `techlibs/xilinx/drams_map.txt`

So until you instantiate it explicitly, Yosys will not output this primitive.

There are no FASM features related to clock inversion for any of SPRAMs an

[2019-04-25 08:23] mkurc-ant commented on #640
I made a PR: https://github.com/SymbiFlow/symbiflow-arch-defs/pull/649

[2019-04-25 08:32] mkurc-ant commented on #640
![SLICE-CLKINV](https://user-images.githubusercontent.com/47315577/56721547-69fb6c00-6745-11e9-870b-378c52491af8.png)

[2019-04-26 15:05] mithro opened #652 "Make v2x support implicit flipflops"
As I mentioned in #639;

So the issue might be these lines;
https://github.com/SymbiFlow/symbiflow-arch-defs/blob/2a41dcc11eee49c3315d811e7060409c4a9fac56/utils/vlog/yosys/json.py#L229-L236

The code seems to be striping out cells which start with `$` like the `$dff` cells generated by the `proc` pass...

We should fix this and add tests.

[2019-04-26 15:07] mithro commented on #652
This is part about https://github.com/SymbiFlow/symbiflow-arch-defs/issues/599

[2019-04-26 15:12] mithro commented on #599
I've added bug https://github.com/SymbiFlow/symbiflow-arch-defs/issues/599 to track the implicit `dff` stuff. Lets land https://github.com/SymbiFlow/symbiflow-arch-defs/pull/639 with the explicit dff implimentation.

[2019-04-27 18:20] litghost commented on #619
The true underlying hardware is not configurable, but actually is simple two LUT5's, with the O5 output as the "lower" LUT5 and the upper the O6 output the output for the two LUT6's combined with a mux similar to the MUXF7.  Adding a mode between the LUT5x2 and LUT6 does not increase VPR's packing ability, as any LUT6 would be packed as a LUT5x2 + MUXF6 (which has a pack pattern for this purpose).

[2019-04-27 18:30] litghost commented on #617
The 128s have separate subckt names because of the WA7USED configuration bit.  In the case of RAM128X1S, two RAM128X1S instances can be packed into one SLICEM, however is not legal to pack RAM128X1S and say RAM64X1D, because the WA7USED configuration is SLICEM wide.  RAM128X1D and RAM256X1S do not have this problem because they consume the entire SLICEM, so no ambiguous packing can occur.

@mithro

[2019-04-28 14:34] mithro commented on #617
@HackerFoo can you look at fixing this up?

[2019-04-29 13:43] #640 closed

[2019-04-29 14:52] litghost commented on #622
I would generalize that all LUT-RAM dual ports could be packed various ways, but to ensure that both halves of the LUT-RAM reside in the SLICE and are adjacent, the black box is used like @HackerFoo said.

[2019-04-29 15:05] litghost commented on #621
The routing import currently uses tile wires, which tend to vary between _L and _R tile variants, at least in the CLBLL_L/R examples.  Because the BRAM's have the BRAM_INT_INTERFACE tiles, the BRAM tile wires for the L/R variants may in fact be identical, I haven't looked.

[2019-04-29 17:52] HackerFoo opened #658 "Remove `assign tx = rx`"
Remove `assign tx = rx` work-arounds when possible in `dram_shifter`.

[2019-04-29 17:58] HackerFoo commented on #658
#636

[2019-04-30 14:24] kgugala opened #662 "vlog_to_model and vlog_to_pbtype ignore ASSOC_CLOCK attribute"
According to https://github.com/antmicro/symbiflow-arch-defs/blob/master/utils/vlog/vlog_to_model.py#L8 this attribute can be used to manually associate clock to a specific port. However, this attribute seems to be ignored.

[2019-04-30 17:20] kgugala commented on #662
this commit https://github.com/SymbiFlow/symbiflow-arch-defs/pull/639/commits/de99a2c7223847186afcf5600cce52ea0c8a574d

from #639 adds ASSOC_CLOCK handling to vlog_to_model

[2019-04-30 21:10] #617 closed

[2019-05-01 18:38] kgugala opened #667 "vlog_to_model does not recognize clock assignment if a port is not connected directly to $dff"
in the following case:

[code]

The $dff input is connected to $or output, `a` and `b` signals are connected to the $or inputs.

the `is_registered` function (see: https://github.com/SymbiFlow/symbiflow-arch-defs/blob/master/utils/vlog/vlog_to_model.py#L29) checks only $dff inputs, so in the above example `a` and `b` will not be classified as assigned to `clk` clock.

[2019-05-01 18:45] mithro commented on #667
Looking at these functions;
https://github.com/SymbiFlow/symbiflow-arch-defs/blob/dc45861228a81ade14f22d828856a575f9b471d9/utils/vlog/vlog_to_model.py#L29-L73

They should be using Yosys to find this information. Yosys has the ability to trace through the logic.

[2019-05-01 20:44] mithro commented on #667
The issue is likely in;

https://github.com/SymbiFlow/symbiflow-arch-defs/blob/dc45861228a81ade14f22d828856a575f9b471d9/utils/vlog/vlog_to_model.py#L195-L209

[2019-05-01 21:08] mithro opened #668 "Include the v2x model + pb_type xml files into VPR architecture XML file and check VPR can load it"
Currently the golden model method doesn't check that vpr will accept the generated output. Ultimately that is what we care about.

[2019-05-02 05:37] kgugala commented on #667
This commit https://github.com/SymbiFlow/symbiflow-arch-defs/pull/664/commits/0349a652be87a5b5b08c3ce2d38b545c7c94b9d2

seems to be fixing this. It is a part of #664

[2019-05-02 08:38] #652 closed

[2019-05-03 03:37] HackerFoo opened #673 "fasm2v broken for RAM128X1{S,D}"
`make dram_2_128x1s_bit_v`

[code]

`get_lut_init()` returns strings representing binary Verilog literals.

[2019-05-03 17:15] litghost opened #675 "[xc7] Determine why cluster pin feasibility filter stopped working after CLB tile split"
https://github.com/SymbiFlow/symbiflow-arch-defs/pull/665 caused the cluster pin feasibility filter to packer resource usage to increase dramatically.  See https://github.com/SymbiFlow/symbiflow-arch-defs/pull/665#issuecomment-488519377

[2019-05-03 17:20] litghost commented on #675
Packing results

Explaination of the increase in packing resources.

Before tile split:
[code]
After tile split (with cluster pin feasibility enabled):
[code]

After tile split (with cluster pin feasibility disabled):
[code]

[2019-05-03 21:40] litghost commented on #409
Fixed by #663

[2019-05-03 21:40] #409 closed

[2019-05-03 21:40] litghost commented on #549
Fixed by #663

[2019-05-03 21:40] #549 closed

[2019-05-04 23:51] mithro commented on #463
I was thinking more about this today. There are a couple of things we have;

 * Library for working with VtR rr_graph files.
   - [utils/lib/rr_graph](https://github.com/SymbiFlow/symbiflow-arch-defs/tree/master/utils/lib/rr_graph)
   - [utils/lib/rr_graph_xml](https://github.com/SymbiFlow/symbiflow-arch-defs/tree/master/utils/lib/rr_graph_xml)
   - [utils/check_graph.py](https://github.com/SymbiF

[2019-05-06 12:59] mkurc-ant commented on #595
I am taking adding FASM prefix support to the v2x

[2019-05-06 13:47] mkurc-ant commented on #595
Preliminary implementation of FASM feature support for V2X: https://github.com/SymbiFlow/symbiflow-arch-defs/pull/685

[2019-05-06 16:29] litghost opened #686 "[xc7] Improve CI runtime"
Currently CI runtime is ~75-85 minutes.  There are several obvious places to improve runtime for people to take a look into:

- [ ] Determine why check_route is so slow: https://github.com/verilog-to-routing/vtr-verilog-to-routing/issues/537
- [ ] Improve initial routing import time (e.g. prxjxray_form_channels, prjxray_create_edges, etc).

[2019-05-06 17:43] #415 closed

[2019-05-06 18:48] HackerFoo opened #687 "Automated testing on hardware of all distributed RAM types"

[2019-05-07 03:22] mithro opened #689 "Make sphinx understand python type hints"
We have been adding [Python type hints](https://docs.python.org/3/library/typing.html) to various Python things and it would be good for the sphinx documentation to automatically use this information.

First option I found was https://github.com/agronholm/sphinx-autodoc-typehints

[2019-05-07 07:34] acomodi commented on #582
Solved by https://github.com/SymbiFlow/symbiflow-arch-defs/pull/653

[2019-05-07 07:34] #582 closed

[2019-05-07 16:51] mithro commented on #642
@acomodi This is done right?

[2019-05-07 16:57] mithro commented on #69
@litghost I think this is done?

[2019-05-07 17:01] mithro commented on #270
This has been done!

[2019-05-07 17:01] #270 closed

[2019-05-07 17:03] mithro commented on #493
@elmsfu ping?

[2019-05-07 17:10] litghost commented on #69
This issue never described the problem, so I have no idea.

[2019-05-07 17:14] acomodi opened #690 "Carrychain specialization and Round Robin packing"
With the tile split merged (https://github.com/SymbiFlow/symbiflow-arch-defs/pull/665) VPR now works at the `SLICE` level instead of `CLB`.

We need to check and make sure whether the carry-chain specialization is still required, as well as Round Robin.

- Carry-chain specialization: it assigns a unique name to the carry-chain pack-pattern to force the packer to pack all the carry-chains in a macr

[2019-05-07 17:20] litghost commented on #690
There are multiple aspects to this issue:

- Will VPR work at all with specialization disabled?
- What is the quality of results with specialization enabled vs disabled?  This is about both resource utilization and timing.

[2019-05-07 17:50] mithro opened #692 "Make `muxgen.py` support for generating timing information"
We use `mux_gen.py` to generate muxes. We need these muxes to have timing information.

Potential solutions;
 * Get `mux_gen.py` to read the SDF and insert the output into the `sim.v`, `pb_type.xml` files?
 * Provide `mux_gen.py` the timing information via command line?
 * Other?

[2019-05-08 00:17] mithro commented on #69
It's all in the title

[2019-05-08 00:18] litghost commented on #69
That is vague.  For example, not all dependencies for SymbiYosys are present (e.g. #572 ).  I stand by my statement that this issue is ill formed, and I don't really know what exactly success is for it.

[2019-05-08 00:28] mithro commented on #69
@litghost Is that better?

[2019-05-08 00:31] litghost commented on #69
I'd say https://github.com/SymbiFlow/symbiflow-arch-defs/issues/564 indicates there is still work here, but besides #564, I'm not aware of what is left.

[2019-05-08 01:53] mithro opened #694 "Remove `BLK_TL-` prefix from slices names"
The special prefix names were removed in https://github.com/SymbiFlow/symbiflow-arch-defs/pull/613

They seem to have come back with the tile split change. We should fix that.

If we still need a prefix, maybe something like `TILE-SLICEL` would work.

[2019-05-08 03:45] mithro opened #695 "Rename RAM stub to something more useful"
The "stub" name doesn't really mean anything. It would be good to have a better / more informative name. Related to #622.

[2019-05-08 03:48] mithro opened #696 "cmake doesn't seem to update when environment values change"
Do;
[code]

The second make will still be using the value set when doing the first make...

[2019-05-08 03:48] HackerFoo commented on #695
How about "bundle"? "glue"?

[2019-05-08 03:51] HackerFoo commented on #695
"pass-through" might be better, although it doesn't describe why it's there.

[2019-05-08 05:22] mithro commented on #695
I kind of like `glue`, `joiner` or `bundler`? Maybe `packing_forcer`?

[2019-05-08 06:12] tmichalak commented on #418
The PR for the last task is ready #500, however it's blocked by https://github.com/SymbiFlow/prjxray/issues/746

[2019-05-08 08:51] mkurc-ant opened #697 "v2x: Add support for "fasm_mux" in "interconnect""
Currently V2X adds only `<direct>` connections when generation the `<interconnect>`. Implementation of adding the "fasm_mux" metadata tag to directs is being implemented in #685.

There is neither support for generating `<mux>` connections nor for adding FASM metadata to them.

The idea is to define a dummy black box mux module with a known name (eg. v2x_mux) which has parameters and attributes. I

[2019-05-08 09:11] mkurc-ant opened #698 "Unexpected CI failure"
Once I pushed the #680 I saw that the CI (kokoro) build failed. And that was strange because that PR just adds a utility script which does not interfere with anything. After forcing the kokoro to run again the CI passed.

A race condition ?

The failure commit SHA is `3e11077`. The relevant fragment of the CI build log:

[code]

[2019-05-08 10:22] mkurc-ant commented on #595
https://github.com/SymbiFlow/symbiflow-arch-defs/issues/697

[2019-05-08 10:59] kgugala commented on #667
Since fix has been merged, we can close this issue

[2019-05-08 10:59] #667 closed

[2019-05-08 11:00] kgugala commented on #662
this is fixed

[2019-05-08 11:00] #662 closed

[2019-05-08 11:06] acomodi commented on #642
@mithro Yes, closing it. fixed by https://github.com/SymbiFlow/symbiflow-arch-defs/pull/648

[2019-05-08 11:06] #642 closed

[2019-05-08 22:48] mithro opened #701 "Make `mux_gen.py` support generating FASM metadata information"
`muxgen.py` should output FASM metadata information in the XML files.

[2019-05-09 14:55] mithro opened #705 "v2x: Fix the clock output detection so that dsp tests can be reenabled"
https://github.com/SymbiFlow/symbiflow-arch-defs/blob/5fbb149e1638223e9ea57ed65476ab8777febcdd/utils/vlog/tests/CMakeLists.txt#L1-L17

Will add examples shortly...

[2019-05-09 15:08] mithro commented on #705
[code]

This is the same type of test as https://github.com/SymbiFlow/symbiflow-arch-defs/issues/630
![image](https://user-images.githubusercontent.com/21212/57464457-9d53f580-7231-11e9-9640-39db40e73054.png)

[2019-05-09 15:12] mithro opened #706 "v2x: Fix the clock input detection so that dsp_out_registered test can be enabled"
https://github.com/SymbiFlow/symbiflow-arch-defs/blob/5fbb149e1638223e9ea57ed65476ab8777febcdd/utils/vlog/tests/CMakeLists.txt#L11-L12

[code]

[2019-05-09 15:15] mithro opened #707 "v2x: Fix the clock input detection so that dsp_partial_registered test can be enabled"
https://github.com/SymbiFlow/symbiflow-arch-defs/blob/5fbb149e1638223e9ea57ed65476ab8777febcdd/utils/vlog/tests/CMakeLists.txt#L13-L14

[code]

This is similar to the following diagram but doesn't have the flip flop on the output;
![image](https://user-images.githubusercontent.com/21212/57464939-7944e400-7232-11e9-99b0-64ad6bcf5284.png)

Also see https://github.com/SymbiFlow/symbiflow-arch-defs/is

[2019-05-09 20:51] HackerFoo opened #709 "Implement block RAM FIFO{18,36}E1 primitives"

[2019-05-09 21:12] mithro commented on #709
@HackerFoo I would say this is a low priority task and might be good "help wanted" type thing?

[2019-05-09 21:25] HackerFoo opened #710 "Add ECC support to block RAM"

[2019-05-09 23:29] mithro commented on #710
I would also say this is low priority.

[2019-05-10 16:34] kgugala opened #715 "v2x: vlog_to_{pbtype/model} cannot handle cell inputs connected to a site internal constant source (e.g. 0 or 1)"
`vlog_to_pbtype` and `vlog_to_model` fails on e.g. https://github.com/SymbiFlow/symbiflow-arch-defs/blob/master/xc7/primitives/common_slice/routing/srusedmux/srusedmux.sim.v#L10 saying that I0 has no driver

[2019-05-10 16:35] litghost commented on #715
Ya, https://github.com/SymbiFlow/symbiflow-arch-defs/blob/master/xc7/primitives/common_slice/routing/srusedmux/srusedmux.sim.v#L10 is not the correct definition.  See https://github.com/SymbiFlow/symbiflow-arch-defs/blob/master/xc7/primitives/common_slice/common_slice.pb_type.xml#L63

[2019-05-10 19:52] litghost opened #716 "[XC7] Timing quality tracking bug"
As we add better timing information, this bug is for tracking timing quality from VPR on xc7.

Initial result on dram_test_64x1d:

Invalid timing values (used as of 6cd461cc420c9a00a560e489d1f9e4d655b2f9c4 and before):
[code]

Zero delay routing:
[code]

"Real" intrinsic delays and some RC delay.  Internal capacitance not modeled, and placer in bounding box mode (e.g. ``--place_algorithm bounding_

[2019-05-10 19:56] litghost commented on #716
It is worth noting that the BEL timing numbers are still total non-sense, and the clusterer is not timing based.

[2019-05-10 20:19] litghost commented on #716
Enabling timing based packing causes an error:
[code]

Fixing this is the next step.

[2019-05-10 22:55] mithro opened #717 "Convert grid functions in utils/vpr_pbtype_arch_wrapper.py to a class"
Probably worth making a class for GridDict?  These feel like methods, not really free functions.

_Originally posted by @litghost in https://github.com/SymbiFlow/symbiflow-arch-defs/diffs/67_

[2019-05-10 23:57] mithro opened #718 "Remove sys.path manipulation in Python code"
There is not a reason to have sys.path modifications anymore.  Change the PYTHONPATH prior to invocation in CMake or install to site packages e.g. fasm & ice40.

_Originally posted by @litghost in https://github.com/SymbiFlow/symbiflow-arch-defs/diffs_

[2019-05-11 02:25] #668 closed

[2019-05-13 14:52] acomodi commented on #416
@litghost can this be closed? If so we can also close https://github.com/SymbiFlow/symbiflow-arch-defs/issues/417

[2019-05-13 15:09] litghost commented on #416
I don't think we can close this until we've committed the equiv tiles and tested it.

[2019-05-13 20:59] litghost commented on #716
Interesting, the slack error does not occur with the counter test.  I wonder if it is something specific to LUT-RAM usage.

[2019-05-13 21:11] litghost commented on #716
Counter test values:

Real route timing + placer in timing mode:
[code]

Real route timing + placer in bounding box mode:
[code]

So effectively no change between bounding box and timing based placer.  But that might be because the counter tests restricts placement through the use of the counter carry chain.  The real question is why does timing based placing work on the counter test, but not the

[2019-05-13 21:50] mithro opened #719 "Update golden targets missing dependencies"
Looks like they need to depend on the files they copy across...
[code]

[2019-05-13 21:54] mithro opened #720 "Rename golden update targets to be better"
All the targets seem to be of the form;
 *  `action`\_`path`\_`file`

Current;
 * `carry_update_golden_model`

Should be;
 * `update_utils_vlog_tests_carry_golden.model.xml`

Similar to;
 * `file_utils_vlog_tests_carry_carry.pb_type.golden.xml`
 * `view_utils_vlog_tests_carry_carry.flat`
 * `render_utils_vlog_tests_carry_carry.bb`
 * `v2x_utils_vlog_tests_carry_carry`
 * etc

[2019-05-13 22:00] litghost commented on #716
I believe I've determined what is causing the timing based placement to fail, the delay model is sometimes returning "inf" on valid routes.  Presumably the "inf" when combined with the timing model results in a NaN, and an invalid slack.  I've already filled an [issue with VTR](https://github.com/verilog-to-routing/vtr-verilog-to-routing/issues/563) about the delay matrix problem, but I'll add det

[2019-05-13 22:48] litghost commented on #716
After modifying the placer to always return 0 delays if the delays inf, new timing results are:

[code]

This is actually an improvement.  Next step will be to try to fill the delay matrix using a nearest neighbor approach, rather than just setting the value to 0.

[2019-05-14 01:05] litghost commented on #716
I did quick sanity check, and the timing values for the LUT and FF are faster than reality.  I wonder if making the timing values worse (e.g. more correct) might make the router/placer try harder?

[2019-05-14 05:43] mithro opened #723 "Consistently format Verilog modules verse instances"
* All uppercase == "Type declaration" == Implementation
 * All lowercase == "Type instance" == Instantiation

[code]

[2019-05-14 17:14] mithro opened #725 "Make vpr_pbtype_to_eblif support inbuilt blif model types"
The vpr_pbtype_to_eblif should support the inbuilt blif model types. The [complete list is found here](https://vtr-verilog-to-routing.readthedocs.io/en/latest/arch/reference.html#pb-type) and listed below;

 - [x] N/A - `.input`: A BLIF netlist input
 - [x] N/A - `.output`: A BLIF netlist output
 - [ ] .names: A BLIF .names (LUT) primitive
 - [ ] .latch: A BLIF .latch (DFF) primitive
 - [x] .subck

[2019-05-14 17:15] mithro commented on #725
@mkurc-ant I believe you already had a fix for this in https://github.com/SymbiFlow/symbiflow-arch-defs/pull/685 ?

[2019-05-14 18:49] litghost opened #729 "[xc7] CARRY4 timing model requires 1 black box"
Currently the CARRY4 is logically modelled as 4 parts, 1 CARRY0 and 3 CARRY black boxes.  The combinatoric timing information present for the CARRY4 requires that we model it as a CARRY4.  Decomposition of the timing information doesn't appear to be possible (if advisory).  There is also the additional problem of signal fanout dependent timing.

Example that demonstrates both problems.  Note that

[2019-05-15 07:05] mkurc-ant commented on #725
@mithro Actually no. I haven't touch the vpr_pbtype_to_eblif

[2019-05-16 22:12] mithro commented on #725
@mkurc-ant What about https://github.com/SymbiFlow/symbiflow-arch-defs/pull/685/commits/86e6af55747f95e229a6aaae4038f228ded98316 ?

[2019-05-17 15:29] litghost commented on #578
In order to better compare timing information output from VPR and Vivado, it is good to annotate the BEL names with the VPR names.  I'll look into improving that next.  This should enable side-by-side timing path comparisons.

[2019-05-17 15:38] litghost commented on #716
I've added the CARRY4 blackbox timing, and now the dram_64x1d test correctly reports failing timing!

[code]

I'm going to next fix https://github.com/SymbiFlow/symbiflow-arch-defs/issues/578#issuecomment-493496093 so we can directly compare VPR's and Vivado's timing traces.  Luckily the timing trace information between VPR and Vivado is very similar, except we don't name the BEL's the same.  With

[2019-05-17 20:31] mithro commented on #578
@mkurc-ant BTW I found the following - [Generate logic expressions for all 64K boolean functions of four variables A, B, C, D](https://github.com/shirriff/xc2064/blob/master/formula4.py)

[2019-05-17 21:26] BalasubramanyamEvani commented on #181
Hi ! is this issue already assigned or still open to work on. I am new to the project and would  like to contribute. Can anybody guide me through this ?
Thank you.

[2019-05-17 21:56] mithro commented on #181
@BalasubramanyamEvani This idea is still open to being done!

First step is to probably write up a short document which has a [list of the wires from the FASM prjxray database](https://github.com/SymbiFlow/prjxray-db/blob/master/artix7/tileconn.json) and figure out what they mean in "human terms". Once that is done, it should be pretty easy to start writing some Python code to extract this informa

[2019-05-17 22:15] BalasubramanyamEvani commented on #181
@mithro Ok got it ! I will start working upon it then. I will first go through the json file and find respective meanings of the wires, the work on the python script.

[2019-05-20 10:41] kgugala opened #736 "Cmake warnings:"
Fresh clone throws the following warings on `build env`:

[code]

[2019-05-20 10:49] acomodi commented on #736
@kgugala I had the same, to solve this you should set the env var `XRAY_VIVADO_SETTINGS` and the warnings won't show up again (https://github.com/SymbiFlow/symbiflow-arch-defs/blob/055447a13d508e362bad6fd2092febb4d36b849a/xc7/make/vivado.cmake#L39).

[2019-05-20 17:06] mithro commented on #736
We should probably add a default value which is the default Xilinx location.

[2019-05-20 17:07] litghost commented on #736
There is no such thing as the default Xilinx location, and there is not guarantee it is even installed.

[2019-05-21 03:34] mithro commented on #736
Sure there is.

<hr>

### From prjxray

https://github.com/SymbiFlow/prjxray/blob/7ea41e257d9641d5633bb13eb276f5b48522258f/utils/environment.sh#L39

[code]

<hr>

### From LiteX BuildEnv

https://github.com/timvideos/litex-buildenv/blob/7fc049aad997d8deefb5980fc559fce5f2170675/scripts/enter-env.sh#L159-L197
[code]

[2019-05-21 08:28] mkurc-ant opened #741 "Add color information to the VPR arch metadata"
The idea is to add color information to `<pb_type>` and `<tile>` entities so their display in the VPR GUI would be consistent with database documentation.

Examples of FPGA tile grid documentation:
- https://symbiflow.github.io/prjxray-db/artix7/
- https://symbiflow.github.io/prjtrellis-db/ECP5/LFE5U-25F/index.html

Let's add a `<meta name="color">` tag to the architecture XML. Those tags will be

[2019-05-21 08:56] #729 closed

[2019-05-21 15:48] mithro opened #746 "Use Yosys on .sim.v files to generate a .eblif needed for architecture testing"
The [`utils/vpr_pbtype_to_eblif.py](https://github.com/SymbiFlow/symbiflow-arch-defs/blob/master/utils/vpr_pbtype_to_eblif.py) tool currently tries to load a `pb_type.xml` file and generate a suitable `.eblif` file for testing the `pb_type.xml` can be used in VtR. This doesn't work when the `pb_type.xml` has internal paths which don't get to pins.

Instead we should use Yosys to generate the `.ebl

[2019-05-21 16:26] mithro opened #748 "Add v2x to use specify section rather than the extra timing attributes"
In the pull request https://github.com/SymbiFlow/symbiflow-arch-defs/pull/730/files#diff-9eaec90618c3dbb25af035f62cbe100b @litghost added timing definitions for the [`CARRY4_VPR` module](https://github.com/litghost/symbiflow-arch-defs/blob/b418932dc31a18fc91bf35825a80b2b965ccda95/xc7/primitives/common_slice/carry/carry4_vpr.sim.v).

Which looks like the following;
[code]

Yosys recently added supp

[2019-05-21 16:28] mithro commented on #748
@mkurc-ant One solution might be to use the [Yosys Python Pass API](https://github.com/YosysHQ/yosys/tree/master/examples/python-api) to loop over the module and write out an SDF file and then add SDF loading to the v2x tool.

[2019-05-21 16:29] mithro commented on #748
Actually, maybe we should look at adding SDF loading to v2x first?

[2019-05-21 16:32] mithro opened #749 "Add support for loading timing information in v2x from SDF"
We currently have a [Python parser for loading SDF files](https://github.com/SymbiFlow/python-sdf-timing). v2x is written in Python.

It would be good if for v2x we could use SDF files rather than timing attributes like found in the [CARRY4_VPR module](https://github.com/SymbiFlow/symbiflow-arch-defs/blob/master/xc7/primitives/common_slice/carry/carry4_vpr.sim.v), see below;
[code]

[2019-05-21 16:33] mithro commented on #749
This should probably be done before https://github.com/SymbiFlow/symbiflow-arch-defs/issues/748

[2019-05-21 16:35] kgugala opened #750 "Race condition in rr_graph generation for ice40?"
in #738 one of the CI run failed on ice40 tests (https://source.cloud.google.com/results/invocations/df596a9c-9100-4b5f-b727-4300172a64a1/targets/foss-fpga-tools%2Fsymbiflow-arch-defs%2Fpresubmit%2Fice40/log)

this happened once, on a non ice40 related change

There is a bunch of the following massages in the log:
[code]

[2019-05-22 01:05] mithro opened #752 "Refactor grid_visualizer and get upstream"
After the [`utils/grid_visualizer`](https://github.com/antmicro/symbiflow-arch-defs/tree/grid_visualizer/utils/grid_visualizer) is landed in #679 there are a couple of improvements that could be made.

 - [ ] Refactor tool into a "base tool" and the "symbiflow-arch-defs tool". The "base tool" should be useful for any VtR architecture.xml file.
 - [ ] Improve the output rendering to be even prettie

[2019-05-22 01:06] mithro commented on #752
@mkurc-ant This is a low priority task, but something we should do...

[2019-05-22 09:09] acomodi opened #755 "v2x VPR tests fail during packing stage"
### Description
There is an issue with the v2x tests to check if the XML that is produced is VPR-compatible.
The VPR packing stage is not able to pack all the nets into one `TILE` only, but uses a `TILE` for each net, exceeding the available architecture resources.

#### How does it work
v2x generated the `pb_type` and `model` XMLs of the architecture. `vpr_pbtype_arch_wrapper.py` encapsulates the

[2019-05-22 13:37] litghost commented on #755
This is not a in VPR.  The grid generation script is generating a grid with only 1 TILE, see here:
[code]

The bug is in https://github.com/SymbiFlow/symbiflow-arch-defs/blob/82bdc52f933fee25141b648b447c82bbde32f717/utils/vpr_pbtype_arch_wrapper.py#L93

[2019-05-22 13:48] acomodi commented on #755
@litghost The problem is that only one Tile should be used and not 2, in this case. I mean, VPR should pack everything in only one Tile because this one Tile contains two `adders` that should be used both instead of only one.
I can also upload the packer `.net` output to have a clearer idea on what is happening

[2019-05-22 14:36] litghost commented on #755
Okay, that is still not a VPR bug.  Was VPR told to pack as tightly as possible (pin utilization = 1 I believe)?  Because there are valid reasons not to, and the default doesn't target to consume all pins on clusters.

[2019-05-22 14:39] acomodi commented on #755
Yes, VPR is explicitly instructed to pack as densely as possible until saturation of the pins.

I believe there is something wrong in the architecture test file, but I still couldn't spot what the issue is.
The eblif looks correct.

[2019-05-22 14:45] litghost commented on #755
I don't see "allow unrelated" enabled?

[2019-05-22 14:51] acomodi commented on #755
I have tried also to set unrelated clustering to `on` with no success though. Same error

[2019-05-22 19:27] litghost commented on #716
To confirm that VPR is not being given an impossible task, I double checked that the same post-synthesis output was given to Vivado and Vivado closed timing.  Vivado was able to close timing:
[code]

Where as VPR was not:
[code]

In this case, VPR's delay model is underestimating the slack violation, but the correct critical path was being tracked (in routing at least), so VPR was working with a r

[2019-05-23 00:18] litghost opened #762 "[xc7] Packer inter cluster delay should be seeded from routing data"
The VPR inter cluster delay (https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/065a62fc9b7e295873e90158295f207754b72025/vpr/src/base/vpr_api.cpp#L512) is computed using switches determined from get_intercluster_switch_fanin_estimates.  This implies means that the switch definition used in the architecture is used, rather than the one from the rrgraph.  This switch should have a rea

[2019-05-23 01:41] mithro commented on #755
@acomodi When it failed to pack the first time, it reran itself with unrelated clustering to on. You should turn on the clustering debug.

[2019-05-23 01:49] mithro commented on #755
The options which might help;

 * `--connection_driven_clustering {on | off}` -- `off`
 * `--clustering_pin_feasibility_filter {on | off}`  -- `off`
 * `--pack_verbosity <int>`

[code]

[2019-05-23 09:50] mkurc-ant commented on #749
There is a PR: https://github.com/SymbiFlow/symbiflow-arch-defs/pull/765

[2019-05-23 10:02] mkurc-ant commented on #748
@mithro It seems that Yosys currently does not support outputting "specify" timings though the JSON backend. I checked that using the following example:

[code]

And the JSON output is:
[code]

[2019-05-23 11:23] mkurc-ant commented on #748
@mithro False alarm: In order for Yosys to parse `specify` statements you need to explicitly enable it via `read_verilog -specify ...`. And then timings appear in JSON output. However it seems that the `specparam` statement is not supported...

Input:
[code]

Output:
[code]

[2019-05-23 23:06] mithro opened #767 "make test_python_utils fails on fresh checkout"
`make test_python_utils` fails if it is the only target you run from a fresh checkout. Looks like it is missing some dependency information?

See output below;
[code]

[2019-05-23 23:07] mithro commented on #767
It is unclear to me why this isn't failing on travis?

[2019-05-23 23:10] litghost commented on #767
There is a missing dependency from test_python on the conda python logic.  I explicitly fixed this on the xc7 python stuff: https://github.com/SymbiFlow/symbiflow-arch-defs/blob/master/xc7/CMakeLists.txt#L15

[2019-05-23 23:12] mithro opened #768 "Doctest failure in vpr_pbtype_to_eblif doesn't cause cmake failure"
[code]

[2019-05-24 12:54] mkurc-ant commented on #698
I think I got another race condition when building from `fd521c5`:
[code]

[2019-05-24 19:40] #698 closed

[2019-05-24 20:19] litghost commented on #716
VPR now closes timing when running with ``--astar_fac 0``, but takes an excessive amount of time (per https://github.com/verilog-to-routing/vtr-verilog-to-routing/issues/592).  The problem was identified that the A* look ahead function was returning poor estimates, and as a result the router find a suboptimal path.  Setting ``--astar_fac 0`` turns off the heuristic, resulting in the router finding

[2019-05-25 02:23] #768 closed

[2019-05-25 22:33] mithro opened #774 "tiles info needs to be added to XML schema"
[code]

[2019-05-25 22:41] mithro commented on #774
Now that we have `<tile>` tags, should `<pb_type>` still have `<fc>` or `<pinlocations>` tags?

[2019-05-25 22:41] mithro commented on #774
FYI - @acomodi I'm just fixing up the schema now...

[2019-05-25 22:59] mithro commented on #774
Related pull request on VtR at https://github.com/verilog-to-routing/vtr-verilog-to-routing/pull/559

[2019-05-25 23:00] mithro commented on #774
FYI - @Laksen

[2019-05-25 23:41] mithro opened #776 "Make v2x support dpram32 generation"
Need to generate the `pb_type.xml` and `model.xml` from the Verilog using v2x.

### Input Verilog

Things wrong with this verilog;
 - [ ] Missing timing annotations.
 - [ ] ???

[code]

### `dpram32.model.xml`

[code]

### `dpram32.pb_type.xml`

[code]

[2019-05-25 23:43] mithro commented on #776
Currently the following `model.xml` is produced;
[code]

[2019-05-25 23:45] mithro commented on #776
Current issues on `model.xml`;
 - [ ] 1. `<port name="CLK">` missing `is_clock="1"`
 - [ ] 2. `<port name="CLK">` having `combinational_sink_ports="O"`
 - [ ] 3. `<port name="(DI|WE|WA)">` missing `clock="CLK"`

[2019-05-25 23:46] mithro commented on #776
This seems pretty similar to https://github.com/SymbiFlow/symbiflow-arch-defs/issues/630

[2019-05-25 23:51] mithro commented on #776
Yosys outputs the following;
[code]

[2019-05-26 03:10] mithro commented on #776
I updated the Verilog to be as follows;
[code]

And now I get;
[code]

[2019-05-26 05:09] mithro opened #777 "dpram32.pb_type.xml has non-existent INIT_01"
The [dpram32.pb_type.xml](https://github.com/SymbiFlow/symbiflow-arch-defs/blob/master/xc7/primitives/slicem/Ndram/dpram32.pb_type.xml#L32-L42) has a `fasm_parms` of `INIT[63:32] = INIT_01` but `DPRAM32` module doesn't have an `INIT_01` parameter? See below;

https://github.com/SymbiFlow/symbiflow-arch-defs/blob/26687ddc283a255ad804453d1f61e8f71e6f533a/xc7/primitives/slicem/Ndram/dpram32.pb_type.x

[2019-05-26 05:12] mithro commented on #774
This is also happening if you run the [`./.github/travis/script.sh`](https://github.com/SymbiFlow/symbiflow-arch-defs/blob/master/.github/travis/script.sh) on current head (26687ddc283a255ad804453d1f61e8f71e6f533a).

[code]

[2019-05-26 07:24] mithro opened #780 "xc7: ntemplate.nlut.sim.v and ntemplate.nlut.pb_type.xml don't match"
Currently the `ntemplate.nlut.sim.v` file has the following;
https://github.com/SymbiFlow/symbiflow-arch-defs/blob/26687ddc283a255ad804453d1f61e8f71e6f533a/xc7/primitives/common_slice/Nlut/ntemplate.Nlut.sim.v#L31-L34

While the `ntemplate.pb_type.xml` file has the following;
https://github.com/SymbiFlow/symbiflow-arch-defs/blob/26687ddc283a255ad804453d1f61e8f71e6f533a/xc7/primitives/common_slice/

[2019-05-26 07:39] mithro commented on #780
I believe the relevant information might be in the comment here https://github.com/SymbiFlow/symbiflow-arch-defs/issues/619#issuecomment-487308569

[2019-05-26 10:12] mithro commented on #780
I think I understand what is going on here.

The two modes are;
 * (a) When the block is used as a `LUT6` there will be 2 * `LUT5` + a `F6MUX` and hence VtR will use one path of the O6 mux.
 * (b) When the block is used as 2 * `LUT5`, no `F6MUX` will exist, hence VtR will effectively "bypass" the `F6MUX` and make the `O6` output equal to the other LUT output.

In case (b) the A6 pin should be conn

[2019-05-26 10:16] mithro commented on #780
@litghost How does the A6 pin end up connected to VCC in case (b)?

[2019-05-27 15:58] mkurc-ant opened #784 "V2X incorrectly inserts "combinational_sink_ports""
Given a verilog model:

[code]

The V2X generates the following model XML:
[code]

Each input port has the `combinational_sink_ports` attribute set even though relation of `OUT` to any signal but `S` is purely sequential.

[2019-05-27 22:29] #767 closed

[2019-05-28 16:20] litghost commented on #780
Implicitly.  A "disconnected" LUT pin is VCC.

[2019-05-28 17:14] mkurc-ant opened #788 "Modeling the FDCE with timing for VPR"
Given the FDCE verilog model:

[code]

I hand-wrote the model XML due to issue https://github.com/SymbiFlow/symbiflow-arch-defs/issues/784  with the V2X. And I generated the pb_type XML using my WIP version of the V2X which injects timings from SDF. The XML files look like that:

[code]
[code]
And the VPR complains that it does not have a timing defined:

`Error 1: /home/mkurc/Repos/google-symbifl

[2019-05-28 17:23] litghost commented on #788
I believe http://docs.verilogtorouting.org/en/latest/tutorials/arch/timing_modeling/#mixed-sequential-combinational-block is the closest example.  And the error is pretty clear, you need a T_clk_to_Q from the SR pin to the output

[2019-05-28 17:25] litghost commented on #788
I think:
[code]
Should be:
[code]

And you still specific T_hold/T_setup to model the recovery/release constraints.

[2019-05-28 18:26] mkurc-ant commented on #788
But the `T_clk_to_Q` tag should specify timing for a path from clock to output. I don't understand the meaning of timing specified like in the VPR example, it concerns clock and input:
[code]

I did the `<port combinational_sink_ports="OUT" name="S"/>` change. And now the VPR complains that there are timings specified which consider CLK and S but the signal S is async according to the model (which

[2019-05-28 18:37] mkurc-ant commented on #788
@litghost I did another test. I copied model and pb_type from the VPR documentation and changed only names to "fdce". And the VPR fails with error:

[code]

The model is:
[code]

And the pb_type is:
[code]

Maybe the rest of the architecture definition confuses the VPR...

[2019-05-28 18:40] litghost commented on #788
At this point I'd assume the documentation is broken.

I recommend we open an issue with upstream VTR to:
1. Add a way for their documentation cases to be tested.  I believe in this case the documentation example is simply broken
2. Determine what the best way forward is

Async resets on FF's are no uncommon features, so I assume there must be a way to do this.

[2019-05-28 18:45] mkurc-ant commented on #788
Probably it is broken. I'll prepare a more reproducible example and file the issue tomorrow.

[2019-05-28 21:25] elmsfu opened #791 "rewrite utils/python_health_helper.sh in python"
Can you log an issue to rewrite this shell script in Python?

_Originally posted by @mithro in https://github.com/SymbiFlow/symbiflow-arch-defs/pull/787/files/d94588043269cda3473ecd40b78aa44b4fdae2d7_

[2019-05-28 23:54] #777 closed

[2019-05-29 01:17] mithro commented on #788
@mkurc-ant / @litghost - We should update the VtR documentation to include all of async flip flop, sync flip flop and latch examples in their tutorial. As @litghost mentioned these types are relatively common things found in FPGAs.